// About-Info Starts Here
.about-info{
    &-image{
        margin-left: -110px;
    }
    &-text{
        h2{
            font-family: $gilroy-bold;
            max-width: 530px;
        }
        p{
            font-family: $gilroy-medium;
            margin-bottom: 20px;
        }
    }
    &-project{
        padding-top: 27px;
        border-top: 1px solid #B4C1E9;
        .project-rating{
            h3{
                font-family: $gilroy-bold;
                font-size: 34px;
            }
            &-star{
                margin-top: 2px;
                i{
                    color: #FF8B17;
                }
            }
            p{
                margin-bottom: 0;
                font-family: $gilroy-medium;
            }
        }
        .project-information{
            h3{
                margin-top: 2px;
                font-size: 34px;
            }
            p{
                margin-bottom: 0;
                font-family: $gilroy-medium;
            }
        }
    }
}
// About-Info Ends Here

/*----------------------------------------*/
/*  RESPONSIVE CSS START 
/*----------------------------------------*/

/* laptop devices 1200 - 1600 */
@media #{$laptop} {
    /* common area start */
    .about-info-image {
        margin-left: 0px;
    }
}

/* large devices 992 - 1199*/
@media #{$lg} {
    /* common area start */

    .about-info-image {
        margin-left: 0px;
    }

}

/* Medium devices 768 - 991 */
@media #{$md} {
    /* common area start */
    .about-info-image {
        margin-left: 0px;
        margin-bottom: 50px;
    }
    
}

/* Small devices 0 - 768 */
@media #{$xs} {
    /* common area start */
    h2{
        font-size: 28px;
    line-height: 40px;
    }
    h3 {
        font-size: 28px;
        line-height: 48px;
    }
    .about-info {
        padding: 100px 0;
    }
    .about-info-project .project-rating h3{
        font-size: 28px;
        line-height: 48px;

    }
    .about-info-project .project-information h3 {
        font-size: 28px;
        line-height: 48px;
    }
    .about-info-image {
        margin-left: 0px;
        margin-bottom: 50px;
    }
    .about-info-text h2{
        margin-bottom: 30px;
    }
    
}

/* Small devices 576 - 767 */
@media #{$sm} {
    /* common area start */
    .about-info-image {
        margin-left: 0px;
        margin-bottom: 50px;
    }
    
}

