/*----------------------------------------*/
/*  HOME PAGE 01
/*----------------------------------------*/
.banner-area {
  background-color: rgba(255, 70, 94, 0.05);
  margin: 0 45px;
  padding: 75px 40px 190px 40px;
  border-radius: 24px;
  position: relative;

  .banner-wrapper {
    margin-top: 90px;
    p {
      display: inline-block;
      width: 90%;
      margin: 25px 0px;
      line-height: 36px;
      font-family: $gilroy-medium;
      font-size: 21px;
    }
    .banner-title {
      h1 {
        margin-bottom: 4px;
      }
    }
  }

  .banner-button {
    display: flex;
    align-items: center;
    margin-top: 40px;

    .t-btn {
      font-size: 20px;
    }

    .play-icon {
      background: white;
      cursor: pointer;
      border: 1px solid #dddddd;
      width: 64px;
      height: 64px;
      border-radius: 50%;
      text-align: center;
      margin-left: 30px;
      display: inline-block;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  .banner-image {
    position: absolute;
    bottom: -448px;
    right: 0px;
  }

  .mask-group {
    img {
      position: absolute;
    }

    .mask1 {
      bottom: 0;
      left: 0;
      z-index: -99;
    }

    .mask2 {
      top: 0;
      right: 0;
      z-index: -99;
    }

    .mask3 {
      bottom: -40px;
      left: 30%;
      z-index: -99;
    }

    .mask4 {
      top: 130px;
      left: 22px;
      z-index: -99;
    }
  }

  // breadcrumb-area
  &.breadcrumb-area {
    position: relative;
    padding-left: 0px;
    padding-right: 0px;
    .banner-wrapper {
      margin-top: 15px;
      padding-left: 65px;
      p {
        margin-top: 20px;
        max-width: 80%;
      }
    }
    .banner-image {
      position: absolute;
      bottom: -310px;
      right: 210px;
      padding: 0;
      margin: 0;
    }

    .breadcrumb-wrapper {
      position: absolute;
      bottom: -220px;
      left: 45px;
    }
  }

  // About-us -Banner
  &.banner__About {
    .banner-image {
      bottom: -175px !important;
    }
  }
}

/*----------------------------------------*/
/*  HOME PAGE 02
/*----------------------------------------*/
.banner-area02 {
  background-color: #29303e;
  position: relative;
  border-bottom-left-radius: 166px;
  padding-top: 142px;
  z-index: 99;

  .banner-image {
    margin-left: 100px;
  }

  .banner-wrapper {
    padding-top: 115px;

    .banner-title {
      margin-bottom: 35px;
      h1 {
        line-height: 96px;
      }
    }

    p {
      font-size: 24px;
      font-family: $gilroy-medium;
      line-height: 40px;
      max-width: 80%;
    }

    .banner-button {
      margin-top: 75px;
    }
  }

  .mask-group-home02 {
    img {
      position: absolute;
      z-index: -9;
    }

    .mask-home01 {
      top: 0;
      left: 0;
    }

    .mask-home02 {
      bottom: 0;
      left: 0;
    }
  }
  .small-feature {
    width: 207px;
    height: 188px;
  }
  .small-feature01 {
    position: absolute;
    top: 23.5%;
    right: 27.3%;
    .image {
      background-color: #fd6f00;
    }
  }

  .small-feature02 {
    position: absolute;
    top: 41.6%;
    right: 39.8%;
  }
}

/*----------------------------------------*/
/*  HOME PAGE 03
/*----------------------------------------*/
.banner-area03 {
  background-color: #1f99f4;
  margin: 0;
  border-radius: 0;
  position: relative;
  z-index: 10;
  padding-bottom: 85px;
  .banner-wrapper {
    margin-top: 140px;
  }

  .banner-image {
    padding-top: 112px;
    position: relative;
    bottom: 0px;
    .react-01,
    .react-02 {
      position: absolute;
    }
    .react-01 {
      bottom: -45px;
      right: -20px;
    }
    .react-02 {
      top: 150px;
      left: -55px;
    }
    .banner01 {
      display: flex;
      margin: 0 auto;
      border-radius: 8px;
      width: 370px;
      height: 536px;
      object-fit: cover;
    }

    .banner02 {
      position: absolute;
      bottom: 22px;
      left: 70px;
      border-radius: 8px;
      width: 134px;
      height: 134px;
      background-color: #ffff;
      opacity: 0.6;
    }

    .banner03 {
      position: absolute;
      bottom: 88px;
      right: -8px;
      border-radius: 8px;
      width: 213px;
      height: 267px;
      object-fit: cover;
      background-color: #ffff;
      opacity: 0.7;
    }

    .banner04 {
      position: absolute;
      top: 145px;
      right: 71px;
      border-radius: 8px;
      width: 134px;
      height: 133px;
      object-fit: cover;
      background-color: #ffff;
      opacity: 0.5;
    }

    .banner05 {
      position: absolute;
      top: 200px;
      left: -10px;
      border-radius: 8px;
      width: 214px;
      height: 267px;
      object-fit: cover;
      background-color: #ffff;
      opacity: 0.7;
    }
  }

  .banner-button {
    .play-icon {
      background-color: #2ca5ff;
      border: 1px solid rgba(255, 255, 255, 0.3);
    }
  }

  .banner-brand-title {
    margin-bottom: 40px;
    margin-top: 90px;

    h3 {
      font-size: 30px;
      line-height: 42px;
      position: relative;
      color: white;

      &::before {
        content: '';
        position: absolute;
        top: 50%;
        left: 176px;
        width: 148px;
        height: 1px;
        background-color: #ffffff;
        transform: translateY(-50%);
      }
    }
  }

  .mask-group {
    img {
      position: absolute;
      z-index: -9;
    }

    .bannermask01 {
      top: 0;
      left: 0;
    }

    .bannermask02 {
      bottom: 0;
      right: 0;
    }
  }
}
.banner-area {
  &__downArrow {
    // width: 350px;
    // height: 250px;
    // border-radius: 250px 250px 0px 0px;
    // position: absolute;
    // display: flex;
    // align-items: center;
    // justify-content: center;
    // background-color: red;
    position: absolute;
    bottom: -110px;
    left: 50%;
    transform: translate(-50%);
    width: 250px;
    height: 150px;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50% 50% 48% 52% / 64% 64% 36% 36%;
    img {
      cursor: pointer;
      width: 25px;
      transform: translateY(-40px);
    }
  }
}

/*----------------------------------------*/
/*  HOME PAGE 04
/*----------------------------------------*/
.banner-area04 {
  background-color: #191c26;
  margin: 0;
  border-radius: 0;
  z-index: 9;
  padding-top: 130px;
  overflow: hidden;
  .banner-wrapper {
    .banner-title {
      span {
        text-transform: uppercase;
        font-family: $teko;
        font-size: 32px;
        line-height: 48px;
        font-weight: 600;
        color: $tertiary;
      }

      h1 {
        text-transform: uppercase;
        font-family: $teko;
        font-size: 135px;
        line-height: 135px;
        font-weight: 600;
        color: white;
        margin-top: 45px;
      }
    }

    p {
      font-size: 26px;
      font-family: $teko;
      line-height: 42px;
      font-weight: 500;
      color: #9dadb7;
      margin: 0;
    }

    .banner-button {
      margin-top: 30px;

      .t-btn {
        border-radius: 0;
        font-family: $teko;
        font-size: 24px;
        font-weight: 500;
      }
    }
  }

  .banner-image {
    padding-top: 185px;
    padding-bottom: 90px;
  }

  .mask-page-04 {
    img {
      position: absolute;
      top: 0;
      left: 0;
      z-index: -3;
    }
  }
}
/*----------------------------------------*/
/*  RESPONSIVE CSS START 
/*----------------------------------------*/

/* Common max- Sizes */
@media (max-width: 1200px) {
  .banner-area {
    .banner-image {
      position: relative;
      bottom: 0;
      padding-bottom: 60px;
      img {
        max-width: 100%;
        height: auto;
      }
    }
    .banner-wrapper {
      text-align: center;
    }
    .banner-button {
      justify-content: center;
    }
    &.breadcrumb-area {
      padding-top: 160px;
      padding-bottom: 60px;
      .banner-wrapper {
        text-align: left;
      }
      .banner-image {
        bottom: -260px;
        right: 0px;
      }
      .breadcrumb-wrapper {
        bottom: -35px;

        .breadcrumb {
          margin-bottom: -50px;
        }
      }
    }
    // contact form Banner

    &.contactBanner,
    &.projectBanner,
    &.blogBanner {
      .banner-image {
        bottom: -215px;
      }
    }
  }
  // banner - 02
  .banner-area02 {
    .banner-wrapper {
      padding-top: 0px;
      .banner-button {
        margin-top: 20px;
      }
    }
    .small-feature {
      padding: 15px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 150px;
      height: 120px;
      .small-feature-percentage {
        margin-bottom: 0px;
        h3 {
          font-size: 26px;
          line-height: 32px;
          margin-bottom: 5px;
        }
      }
      &-text {
        p {
          font-size: 16px;
          line-height: 18px;
        }
      }
    }
    .small-feature02 {
      top: 35%;
      right: 42%;
    }
    .banner-title {
      margin-bottom: 15px !important;
      h1 {
        font-size: 54px;
        line-height: 68px !important;
      }
    }
  }
  .banner-area03 {
    padding-left: 0px;
    padding-right: 0px;
    margin: 0px !important;
    .banner-wrapper {
      text-align: left;
    }
    .banner-button {
      justify-content: flex-start;
    }
    .banner-image {
      .banner05 {
        left: -40px;
      }
      .banner02 {
        left: 40px;
      }
      .banner01 {
        margin-right: 0px;
      }
      .banner03,
      .banner04 {
        display: none;
      }
    }
  }
}
@media (max-width: 1199px) {
  .banner-area {
    // Contact form Banner
    &.contactBanner,
    &.projectBanner,
    &.blogBanner {
      .banner-image {
        bottom: -185px !important;
      }
    }
  }
}
@media (min-width: 1024px) and (max-width: 1199px) {
  // homepage -02 / Banner -02
  .banner-area02 {
    .banner-title {
      h1 {
        font-size: 38px;
        line-height: 52px !important;
      }
    }
    .small-feature02 {
      right: 39%;
    }
  }
  .banner-area03 {
    .banner-image {
      .banner05 {
        left: -140px;
        top: 180px;
        z-index: -1;
      }
      .banner02 {
        left: -60px;
        bottom: 100px;
      }
      .react-02 {
        z-index: -1;
        top: 60px;
        left: 48px;
        user-select: none;
      }
      .react-01 {
        bottom: -85px;
        right: -10px;
      }
    }
  }
  .banner-area {
    &.breadcrumb-area {
      .banner-image {
        bottom: -220px;
        right: 0px;
      }
    }
  }
}

@media (min-width: 992px) and (max-width: 1023px) {
  .banner-area {
    &.breadcrumb-area {
      .banner-image {
        bottom: -220px;
        right: 0px;
      }
    }
  }
}

@media (max-width: 1024px) {
  .banner-area04 {
    .banner-wrapper {
      .banner-title {
        h1 {
          font-size: 102px;
          line-height: 112px;
        }
      }
    }
  }
}
@media (min-width: 992px) and (max-width: 1023px) {
  .banner-area02 {
    .banner-title {
      h1 {
        font-size: 32px;
        line-height: 42px !important;
      }
    }
    .small-feature02 {
      right: 39%;
    }
  }
  .banner-area03 {
    .banner-image {
      .banner05 {
        left: -160px;
        z-index: -1;
      }
      .banner02 {
        left: -80px;
        bottom: 85px;
      }
    }
  }
}

@media (max-width: 991px) {
  .banner-area02 {
    border-bottom-left-radius: 0px;
    padding-bottom: 140px;
    position: relative;
    overflow: hidden;
    .banner-wrapper {
      position: relative;
      .banner-title {
        h1 {
          font-size: 32px;
          line-height: 42px !important;
        }
      }
      p {
        font-size: 18px;
        line-height: 28px;
        max-width: 100%;
      }
    }
    .banner-image {
      margin-left: 0px;
      position: absolute;
      top: -78px;
    }
    // .banner-image,
    .mask-group-home02 {
      display: none;
    }

    .small-feature01 {
      top: 50%;
      right: 30px;
    }
    .small-feature02 {
      top: 35%;
      right: 190px;
    }
  }
  .banner-area03 {
    padding-bottom: 90px !important;
    .banner-image {
      .banner01 {
        margin: auto;
      }
      .banner02 {
        left: 120px;
      }
      .banner04 {
        right: 120px;
      }

      .banner04 {
        display: block;
      }
      .banner05 {
        display: none;
      }
      .react-02 {
        top: 70px;
        left: 250px;
      }
      .react-01 {
        right: 225px;
      }
    }
  }
  .banner-area {
    &.breadcrumb-area {
      .banner-image {
        position: static;
      }
    }
  }
}

@media (max-width: 768px) {
  // banner section
  .banner-area {
    margin: 0px;
  }
  .banner-area03 {
    .banner-image {
      .react-01 {
        right: 60px;
      }
      .react-02 {
        left: 135px;
      }
      .banner02 {
        left: 20px;
        bottom: 100px;
      }
      .banner04 {
        right: 20px;
      }
    }
  }
}

@media (max-width: 575px) {
  .banner {
    &-area {
      padding: 75px 0px;

      .mask-group {
        .mask3 {
          left: 60%;
        }
      }
    }
    &-image {
      margin-bottom: 0px !important;
    }
    &-title {
      h1 {
        font-size: 32px;
        line-height: 42px;
      }
    }
    &-wrapper {
      margin-top: 0px !important;
      p {
        width: 100%;
        margin: 15px 0px;
      }
    }
  }

  // banner-02
  .banner-area02 {
    position: relative;

    // buttons
    .t-btn {
      padding: 20px 5px;
    }
  }

  .banner-area03 {
    .slick-slide {
      img {
        margin: auto;
      }
    }
    .banner-image {
      padding-top: 195px;
      .banner04,
      .banner02 {
        display: none;
      }
      .react-01 {
        right: 20px;
        bottom: 0px;
      }
      .react-02 {
        left: 55px;
        top: 155px;
      }
    }
  }
}

@media (min-width: 420px) and (max-width: 574px) {
  .banner-area03 {
    .banner-image {
      padding-top: 95px;
      .react-01 {
        right: 0px;
        bottom: 0px;
      }
      .react-01 {
        right: -25px;
        bottom: 0px;
      }
      .react-02 {
        left: -15px;
        top: 70px;
      }
    }
  }
}

@media (min-width: 320px) and (max-width: 419px) {
  .banner-area02 {
    .banner-wrapper {
      padding-top: 100px;
    }
    .banner-image {
      position: relative;
    }
    .small-feature01,
    .small-feature02 {
      top: 40%;
    }
    .small-feature01 {
      right: 5px;
    }
    .small-feature02 {
      right: 165px;
    }
  }

  .banner-area {
    &.breadcrumb-area {
      padding: 80px 0px;
      .banner-wrapper {
        padding-left: 0px;
      }
      .breadcrumb-wrapper {
        left: 160px;
        bottom: -85px !important;
        .breadcrumb-item {
          font-size: 18px !important;
        }
      }
    }
    .banner-wrapper {
      p {
        width: 100%;
        font-size: 18px;
      }
    }
  }

  .banner-area04 {
    .banner-wrapper {
      .banner-title {
        h1 {
          font-size: 68px;
          line-height: 78px;
        }
      }
      p {
        font-size: 18px;
        line-height: 28px;
      }
    }
  }
}

@media (max-width: 1750px) {
  .banner-area02 {
    .banner-image {
      img {
        max-width: 100%;
      }
    }
  }
}
@media (min-width: 1480px) and (max-width: 1750px) {
  .banner-area02 {
    .small-feature01 {
      right: 25.3%;
    }
    .small-feature02 {
      top: 35.6%;
    }
  }
}

/* large devices 992 - 1199*/
@media #{$lg} {
  /* banner area start */
  .banner-area {
    padding: 40px 20px;
    margin: 0 30px;
    .banner-wrapper {
      margin-top: 0px;
      p {
        font-size: 18px;
        line-height: 26px;
        width: 100%;
      }
    }
    .banner-button {
      margin-top: 0px;
    }
    .banner-button .t-btn {
      font-size: 18px;
      padding: 15px 35px;
    }
    .banner-button .play-icon {
      width: 50px;
      height: 50px;
      box-sizing: border-box;
      svg {
        width: 17px;
      }
    }
    // banner-img

    // .mask-group
    .mask-group {
      .mask3 {
        left: 85%;
      }
    }
  }
  // banner -02
  .banner-area02 {
    .banner-wrapper {
      p {
        font-size: 18px;
        line-height: 28px;
      }
      .banner-button {
        margin-top: 15px !important;
      }
    }
    .small-feature01 {
      top: 25.5%;
      right: 22.3%;
    }
  }
}

/* Medium devices 768 - 991 */
@media #{$md} {
  /* common area start */
  .banner-area {
    margin: 0 20px;
    padding: 0 10px;
    .banner-wrapper {
      margin-top: 50px;
      margin-bottom: 100px;
      p {
        font-size: 16px;
        line-height: 26px;
        width: 100%;
        margin-top: 15px;
      }
      .banner-button {
        margin-top: 20px;
        .play-icon {
          width: 60px;
          height: 60px;
          box-sizing: border-box;
          svg {
            width: 20px;
          }
        }
        .t-btn {
          font-size: 18px;
        }
      }
    }
    .mask-group {
      .mask3 {
        left: 80%;
      }
    }
    &.breadcrumb-area {
      .breadcrumb-wrapper {
        bottom: -20px !important;
      }
    }
  }
  // Homepage -02 / Banner -02
  .banner-area02 {
    .banner-image {
      margin-left: 0px;
      position: absolute;
      top: -78px;
    }
  }
}

/* Small devices 575 - 767 */
@media #{$sm} {
  .banner-area {
    margin: 0px;
    padding: 0px;
    border-radius: 0px;
    .banner-image {
      margin-bottom: 30px;
    }
    .banner-wrapper {
      padding-bottom: 70px;
      p {
        width: 100%;
        font-size: 16px;
        line-height: 26px;
        margin-top: 15px;
      }
    }
    .banner-button {
      margin-top: 15px;
    }
    .mask-group {
      .mask3 {
        left: 75%;
      }
    }
    &.breadcrumb-area {
      .banner-wrapper {
        padding-left: 15px;
      }
      .breadcrumb-wrapper {
        bottom: -20px !important;
      }
    }
  }
  // banner-02
  .banner-area02 {
    position: relative;
    .banner-wrapper {
      margin-top: 30px !important;
    }
    .banner-image {
      position: relative;
      top: 0px;
    }
    .small-feature01,
    .small-feature02 {
      top: 40%;
    }
    .small-feature01 {
      right: 110px;
    }
    .small-feature02 {
      right: 300px;
    }
  }
}

/* Small devices 420 - 574 */
@media #{$xs} {
  .banner-area {
    &.breadcrumb-area {
      padding-top: 60px;
      padding-bottom: 90px;
      .banner-wrapper {
        padding-left: 10px;
      }
      .breadcrumb-wrapper {
        left: 210px;
        bottom: -95px !important;
        .breadcrumb-item {
          font-size: 18px !important;
        }
      }
    }
  }

  .banner-area02 {
    .banner-wrapper {
      padding-top: 100px;
    }
    .banner-image {
      position: relative;
    }
    .small-feature01,
    .small-feature02 {
      top: 48%;
    }
    .small-feature01 {
      right: 40px;
    }
    .small-feature02 {
      right: 220px;
    }
  }
}
/* extra Small devices 420 */
@media #{$xsm} {
  /* common area start */
}
