.brands{
    &-area{
        padding: 60px 0px;
        border-radius: 10px;
        ul{
            li{
                text-align: center;
                img{
                    width: 120px;
                    filter: grayscale(100%);
                    cursor: pointer;
                    &:hover{
                        filter: grayscale(0);
                    }
                }
            }

        }
        
    }
}
