.brand-area{
    .brand-slider-active{
        .slick-track{
            display:flex;
            align-items: center;
        }
        .single-brand{
            img{
                margin: auto;
            }
        }
    }
}
// HomePage-02
.brands{
    margin-top: -50px;
    z-index: 999;
    position: relative;
    &-area{
        padding: 60px 0px;
        border-radius: 10px;
        background-color: #fff;
        ul{
            li{
                text-align: center;
                img{
                    width: 120px;
                    filter: grayscale(100%);
                    cursor: pointer;
                    &:hover{
                        filter: grayscale(0);
                    }
                }
            }

        }
        
    }
}
// Responsive---------------------------
// @media screen and (max-width: 768px) {
//     .brands{
//         &-area{
//             ul{
//                 flex-direction: column;
//                 li{
//                     img{
//                         width: 110px;
//                         margin-bottom: 30px;
//                     }
//                 }
    
//             }
            
//         }
//     }
//   }
