.callto-action {
    background-color: rgba(255, 70, 94, 0.05);
    margin: 0 45px;
    margin-top: 90px;
    border-radius: 24px;
    position: relative;

    &-mask {
        img {
            position: absolute;
        }

        .first-mask {
            top: -50px;
            left: 56px;
            z-index: -1;
        }

        .second-mask {
            bottom: -65px;
            right: 50%;
            left: 50%;
            transform: translateX(-100px);
            z-index: -1;
        }
    }

    &-text {
        h2 {
            font-family: $gilroy-bold;
            max-width: 620px;
            margin-bottom: 5px;
        }

        p {
            max-width: 625px;
            font-family: $gilroy-medium;
            margin-bottom: 20px;
        }
    }

    &-image {
        margin-right: -170px;
    }
}

/*----------------------------------------*/
/*  RESPONSIVE CSS START 
/*----------------------------------------*/

/* laptop devices 1200 - 1600 */
@media #{$laptop} {

    /* common area start */
    .callto-action-image {
        margin-right: 0px;
    }
}

/* large devices 992 - 1199*/
@media #{$lg} {

    /* common area start */
    .callto-action{
        margin: 0 25px;
        margin-top: 0;
    }
    .callto-action-image {
        margin-right: 0px;
    }

}

/* Medium devices 768 - 991 */
@media #{$md} {

    /* common area start */
    .callto-action{
        margin: 0 25px;
        margin-top: 0;
    }
    .callto-action-image {
        margin-right: 0px;
        margin-bottom: 50px;
    }
    .callto-action-text{
        padding-bottom: 50px;
    }
}

/* Small devices 0 - 768 */
@media #{$xs} {

    /* common area start */
    .callto-action-image {
        margin-right: 0px;
    }
    .callto-action{
        margin: 0 25px;
        margin-top: 0;
    }
}

/* Small devices 576 - 767 */
@media #{$sm} {

    /* common area start */
    .callto-action-image {
        margin-right: 0px;
    }
    .callto-action{
        margin: 0 25px;
        margin-top: 0;
    }
}
