.beloved-client {
  position: relative;
  padding-top: 130px;
  background-color: #1f99f4;
  .sub-section-heading {
    margin-top: -135px;
    h2 {
      font-size: 48px;
      line-height: 64px;
      margin-bottom: 15px;
    }
    p {
      font-size: 18px;
      line-height: 30px;
      font-family: $gilroy-medium;
      margin-bottom: 60px;
    }
  }
  .client-info {
    margin-bottom: 50px;
    &-item {
      h2 {
        font-size: 65px;
        line-height: 38px;
        color: #fff;
        margin-bottom: 18px;
      }
      p {
        color: #fff;
        font-size: 20px;
        font-family: $gilroy-medium;
      }
    }
  }
  .client-image {
    max-width: 535px;
    &-logo {
      img {
        opacity: 0.5;
      }
    }
  }
  &__Shapes01 {
    position: absolute;
    top: -75px;
    right: 0px;
    user-select: none;
  }
  &__Shapes02 {
    position: absolute;
    left: 15px;
    bottom: 175px;
    user-select: none;
  }
}

@media (max-width: 1200px) {
  .beloved-client {
    &__Shapes02 {
      bottom: -50px;
    }
    .client-info-item {
      h2 {
        font-size: 48px;
        line-height: 58px;
        margin-bottom: 0px;
      }
    }
    .client-image-logo {
      img {
        margin: auto;
      }
    }
  }
}

@media (max-width: 991px) {
  .beloved-client {
    .sub-section-heading {
      margin-top: 0px;
      text-align: center;
    }
    .client-image {
      max-width: 100%;
    }
    .image {
      display: flex;
      justify-content: center;
      margin-top: 60px;
    }
  }
}

@media (max-width: 767px) {
  .beloved-client {
    &__Shapes01,
    &__Shapes02 {
      display: none;
    }
  }
}

@media (max-width: 575px) {
  .beloved-client {
    .client-info {
      &-item {
        margin-bottom: 50px;
      }
    }
  }
}

@media (min-width: 320px) and (max-width: 574px) {
  .beloved-client {
    padding-top: 60px;
    .sub-section-heading {
      h2 {
        font-size: 32px;
        line-height: 42px;
      }
      p {
        font-size: 14px;
        line-height: 26px;
        margin-bottom: 30px;
      }
    }
    .client-info {
      flex-direction: column;
      text-align: center;
      margin-bottom: 0px;
      &-item {
        p {
          font-size: 18px;
        }
      }
    }
  }
}
