.beloved-client{
    background-color: #1F99F4;
    .sub-section-heading{
        p{
            font-size: 18px;
            line-height: 30px;
            font-family: $gilroy-medium;
        }
    }
    .client-info{
        margin-bottom: 50px;
        &-item{
            h2{
                font-size: 65px;
                color: #ffffff;
                margin-bottom: 10px;
            }
            p{
                color: #ffffff;
                font-size: 20px;
                font-family: $gilroy-medium;
            }
        }
    }
    .client-image{
        max-width: 535px;
        &-logo{
            img{
                opacity: 0.5;
            }
        }
    }
    .image{
        img{
            
        }
    }
}
