/* 1. Theme default css */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-size: 16px;
  line-height: 27px;
  font-family: $gilroy-regular;
  overflow-x: hidden;
}
.custom-container {
  max-width: 1860px;
}
.custom-container01 {
  max-width: 1690px;
}
.custom-container02 {
  max-width: 1570px;
}
.homepage04 {
  background-color: #191c26;
}
*:focus {
  color: inherit;
  outline: inherit;
}

a:focus,
.button:focus {
  text-decoration: none;
  outline: none;
}

a:focus,
a:hover {
  text-decoration: none;
}

a,
button {
  color: inherit;
  outline: none;
  border: none;
}

button:hover {
  cursor: pointer;
}

button:focus {
  outline: 0;
  border: 0;
}

.uppercase {
  text-transform: uppercase;
}

.capitalize {
  text-transform: capitalize;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: $primary;
  margin: 0px;
  font-family: $gilroy-bold;
}

h1 {
  font-size: 80px;
  line-height: 99px;
}

h2 {
  font-size: 48px;
  line-height: 59px;
}

h3 {
  font-size: 32px;
  line-height: 42px;
}

h4 {
  font-size: 26px;
  line-height: 49px;
}

h5 {
  font-size: 24px;
  line-height: 30px;
}

h6 {
  font-size: 22px;
  line-height: 28px;
}

ul {
  margin: 0px;
  padding: 0px;
}

li {
  list-style: none;
}

a {
  display: inline-block;
}

p {
  font-size: 16px;
  font-family: $gilroy-medium;
  color: $secondary;
  margin: 0px;
  line-height: 27px;
}

*::-moz-selection {
  background: #f18694;
  color: $white;
  text-shadow: none;
}

::-moz-selection {
  background: #f18694;
  color: $white;
  text-shadow: none;
}

::selection {
  background: #f18694;
  color: $white;
  text-shadow: none;
}

/*--
    - Input Placeholder
-----------------------------------------*/
*::-moz-placeholder {
  color: $secondary;
  font-size: 18px;
  font-family: $gilroy-medium;
  opacity: 1;
}

*::placeholder {
  color: $secondary;
  font-size: 18px;
  font-family: $gilroy-medium;
  opacity: 1;
}

/*--
    - Common Classes
-----------------------------------------*/
.fix {
  overflow: hidden;
}

.clear {
  clear: both;
}

.p-relative {
  position: relative;
}

.p-absolute {
  position: absolute;
}
.t-bg-orange {
  color: white;
  background-color: #ed880a;
  &:hover {
    color: white;
  }
}
.shadow {
  box-shadow: 0 50px 100px rgba(0, 0, 0, 0.11) !important;
}

.shadow-sm {
  box-shadow: 0px 6px 30px 0px rgba(51, 98, 255, 0.07) !important;
}
/*--
	- Button Style 
-----------------------------------------*/
.primary__button {
  display: inline-block;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  border: 1px solid transparent;
  padding: 20px 40px;
  font-size: 16px;
  line-height: 21px;
  border-radius: 50px;
  font-family: $gilroy-bold;
  transition: 0.3s;
  @media (max-width: 574px) {
    padding: 15px 20px !important;
  }
  &-bgPrimary {
    color: #fff;
    background-color: $tertiary;
    &:hover {
      color: #fff;
      background-color: $tertiary;
      box-shadow: 0px 6px 15px rgba(255, 70, 94, 0.36);
    }
  }

  &-bgOutline {
    color: $tertiary;
    background: transparent;
    &:hover {
      color: $tertiary;
    }
  }

  &-outline {
    color: $tertiary;
    background: transparent;
    border: 1.5px solid $tertiary;
    &:hover {
      color: white;
      background-color: $tertiary;
    }
  }

  &-bgBlack {
    color: white;
    background-color: #000560;

    &:hover {
      color: white;
      border-color: #000560;
    }
  }
  &-Black {
    color: #000560;
    background-color: white;

    &:hover {
      color: #000560;
    }
  }
  &-bgWhite {
    color: $tertiary;
    background-color: white;

    &:hover {
      color: $tertiary;
    }
  }
}

// Sections

.section-title {
  margin-bottom: 60px;
  h2 {
    font-size: 60px;
    line-height: 118px;
    font-family: $teko;
    color: #ffffff;
    text-transform: uppercase;
    span {
      color: #ff465e;
    }
  }
}

.top-left-border {
  border-top-left-radius: 0;
}

.border-color {
  border: 1px solid #29303e;
}

.text-white {
  color: #fff;
}

//SMALL FEATURE
.small-feature {
  background-color: white;
  border-radius: 10px;
  padding: 26px;
  width: 188px;
  height: 168px;

  &-percentage {
    margin-bottom: 20px;

    .image {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 33px;
      width: 33px;
      background-color: #00ada6;
      border-radius: 50%;
    }

    h3 {
      margin-left: 10px;
    }
  }

  &-text {
    p {
      font-size: 18px;
      max-width: 150px;
      text-align: center;
    }
  }
}

/*----------------------------------------*/
/*  RESPONSIVE CSS START 
/*----------------------------------------*/

/* large devices 992 - 1169*/
@media #{$lg} {
  /* common area start */
  h1 {
    font-size: 42px;
    line-height: 55px;
  }
  h2 {
    font-size: 34px;
    line-height: 46px;
  }
  h4 {
    font-size: 22px;
  }
  .primary__button {
    font-size: 16px;
    padding: 15px 35px;
  }
}

/* Medium devices 768 - 991 */
@media #{$md} {
  /* common area start */
  h1 {
    font-size: 42px;
    line-height: 50px;
  }
  h2 {
    font-size: 38px;
    line-height: 48px;
  }
  h3 {
    font-size: 28px;
    line-height: 1;
  }
  h4 {
    font-size: 22px;
    line-height: 32px;
  }
  h5 {
    font-size: 18px;
  }
  .primary__button {
    font-size: 16px;
    padding: 18px 40px;
  }
}

/* Small devices 575 - 767 */
@media #{$sm} {
  /* common area start */
  h1 {
    font-size: 32px;
    line-height: 1.2;
  }
  h2 {
    font-size: 26px;
    line-height: 1.2;
  }
  h3 {
    font-size: 20px;
    line-height: 1.2;
  }
  h4 {
    font-size: 16px;
    line-height: 1.2;
  }
  h5 {
    font-size: 14px;
  }
}
