/* 1. Theme default css */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
	font-size: 16px;
	line-height: 27px;
	font-family: $gilroy-regular;
	overflow-x: hidden;
}
.homepage04{
	background-color: #191C26;
}
*:focus {
	color: inherit;
	outline: inherit;
}

a:focus,
.button:focus {
	text-decoration: none;
	outline: none;
}

a:focus,
a:hover {
	text-decoration: none;
}

a,
button {
	color: inherit;
	outline: none;
	border: none;
}

button:hover {
	cursor: pointer;
}

button:focus {
	outline: 0;
	border: 0
}

.uppercase {
	text-transform: uppercase;
}

.capitalize {
	text-transform: capitalize;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	color: $primary;
	margin: 0px;
	font-family: $gilroy-bold;
}

h1 {
	font-size: 80px;
	line-height: 99px;
}

h2 {
	font-size: 48px;
	line-height: 59px;
}

h3 {
	font-size: 32px;
	line-height: 42px;
}

h4 {
	font-size: 26px;
	line-height: 49px;
}

h5 {
	font-size: 24px;
	line-height: 30px;
}

h6 {
	font-size: 22px;
	line-height: 28px;
}

ul {
	margin: 0px;
	padding: 0px;
}

li {
	list-style: none;
}

p {
	font-size: 16px;
	font-family: $gilroy-medium;
	color: $secondary;
	margin: 0px;
	line-height: 27px;
}

*::-moz-selection {
	background: #f18694;
	color: $white;
	text-shadow: none;
}

::-moz-selection {
	background: #f18694;
	color: $white;
	text-shadow: none;

}

::selection {
	background: #f18694;
	color: $white;
	text-shadow: none;
}

/*--
    - Input Placeholder
-----------------------------------------*/
*::-moz-placeholder {
	color: $black;
	font-size: 14px;
	opacity: 1;
}

*::placeholder {
	color: $black;
	font-size: 14px;
	opacity: 1;
}


/*--
    - Common Classes
-----------------------------------------*/
.fix {
	overflow: hidden
}

.clear {
	clear: both;
}

.p-relative {
	position: relative;
}

.p-absolute {
	position: absolute;
}
.t-bg-orange{
	color: white;
	background-color: #ED880A;
	&:hover{
		color: white;
		box-shadow: rgba(255, 70, 94, 0.36);
	}
}
/*--
	- Button Style 
-----------------------------------------*/
.t-btn {
	display: inline-block;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	border: 1px solid transparent;
	padding: 20px 40px;
	line-height: 1;
	border-radius: 50px;
	font-family: $gilroy-bold;
	transition: .3s;
}

.t-bg-primary {
	color: #fff;
	background-color: $tertiary;
	border-color: $tertiary;

	&:hover {
		color: #fff;
		background-color: $tertiary;
		border-color: $tertiary;
		box-shadow: 0px 6px 15px rgba(255, 70, 94, 0.36);
	}
}
.t-bg-outline{
	color: $tertiary;
	background: transparent;
	
	&:hover{
		color: $tertiary;
	}
}
.t-bg-black {
	color: white;
	background-color: #000560;
	border-color: #000560;

	&:hover {
		color: white;
		border-color: #000560;
	}
}
.t-black {
	color: #000560;
	background-color: white;
	border-color: white;

	&:hover {
		color: #000560;
	}
}

.t-bg-white {
	color: $tertiary;
	background-color: white;
	border-color: white;

	&:hover {
		color: $tertiary
	}
}

.t-btn-outline {
	border: 1px solid transparent;
	border-color: rebeccapurple;
	color: rebeccapurple;

	&:hover {
		color: #fff;
		background-color: rebeccapurple;
	}
}

.t-radius {
	border-radius: 50%;
}

// Section Title
.section-title {
	margin-bottom: 60px;

	h2 {
		font-family: $gilroy-bold;
	}
}

.top-left-border {
	border-top-left-radius: 0;
}

.border-color {
	border: 1px solid #29303E;
}

.text-white {
	color: #fff;
}

//SMALL FEATURE
.small-feature {
    background-color: white;
    border-radius: 10px;
    padding: 30px;

    &-percentage {
        margin-bottom: 20px;

        .image {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 33px;
            width: 33px;
            background-color: #00ADA6;
            border-radius: 50%;
        }

        h3 {
            margin-left: 10px;
        }
    }

    &-text {
        p {
            font-size: 18px;
            max-width: 150px;
            text-align: center;
        }
    }
}
