/* 1. Theme default css */
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

 body {
	font-size: 16px;
	font-weight: normal;
	color: $body-text-color;
	line-height: 27px;
	font-family: $gilroy;
}

.w-img{
	& img{
		width: 100%;
	}
}

.m-img{
	& img{
		max-width: 100%;
	}
}

a,
.btn,
button,
span,
p,
input,
select,
textarea,
li,
img,
*::after,
*::before,
.transition-3,
h1,
h2,
h3,
h4,
h5,
h6 {
	@include transition(.3s);
}

a:focus,
.button:focus {
	text-decoration: none;
	outline: none;
}

a:focus,
a:hover
{
	color: inherit;
	text-decoration: none;
}

a,
button {
	color: inherit;
	outline: none;
	border: none;
}

button:hover{
	cursor: pointer;
}

button:focus{outline: 0; border:0}

.uppercase {
	text-transform: uppercase;
}

.capitalize {
	text-transform: capitalize;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	// font-family: $coga;
	color: $heading-color;
	margin-top: 0px;
	font-weight: 700;
	line-height: 1;
	@include transition(.3s);
}

h1 {
	font-size: 40px;
}

h2 {
	font-size: 36px;
}

h3 {
	font-size: 27px;
}

h4 {
	font-size: 22px;
}

h5 {
	font-size: 18px;
}

h6 {
	font-size: 16px;
}

ul {
	margin: 0px;
	padding: 0px;
}

li {
	list-style: none;
	display: inline-block;
}

p {
	// font-family: $rubik;
	font-size: 16px;
	font-weight: normal;
	color: $body-text-color;
	margin-bottom: 15px;
	line-height: 27px;
}

*::-moz-selection {
	background: #f18694;
	color: $white;
	text-shadow: none;
}

::-moz-selection {
	background: #f18694;
	color:$white;
	text-shadow: none;

}

::selection {
	background: #f18694;
	color: $white;
	text-shadow: none;
}

/*--
    - Input Placeholder
-----------------------------------------*/
*::-moz-placeholder {
	color: $black;
	font-size: 14px;
	opacity: 1;
}

*::placeholder {
	color: $black;
	font-size: 14px;
	opacity: 1;
}


/*--
    - Common Classes
-----------------------------------------*/
.fix {
    overflow:hidden
}
.clear{
    clear: both;
}

.f-left {
	float: left
}
.f-right {
	float: right
}

.p-relative{
	position: relative;
}
.p-absolute{
	position: absolute;
}
/*--
    - Background color
-----------------------------------------*/
.grey-bg {
	background: $grey;
}


// .primary-bg {
// 	background: #222;
// }

/*--
    - color
-----------------------------------------*/

.text-white h1,
.text-white h2,
.text-white h3,
.text-white h4,
.text-white h5,
.text-white h6,
.text-white p,
.text-white span,
.text-white li,
.text-white a {
	color: $white !important;
}

.white-color {
	color: $white;
}

.black-color {
	color: $black;
}


.box-105{
	padding-left: 105px;
	padding-right: 105px;
}

.box-margin-120{
	margin-right: 120px;
	margin-left: 120px
}

.mb-345{
	margin-bottom: 345px;
}

.mb-210{
	margin-bottom: 210px;
}
.mt--230{
	margin-top: -230px;
}

.mt-105{
	margin-top: -105px;
}

.mb--322{
	margin-bottom: -322px;
}

.mb--328{
	margin-bottom: -328px;
}
.mb--120{
	margin-bottom: 120px;
}

.mt--120{
	margin-top: -120px;
}

.mb-252{
	margin-bottom: 252px;
}

.mb-230{
	margin-bottom: 230px;
}

.box-pl-105{
	padding-left: 105px;
}

.pt-210{
	padding-top: 210px;
}

.pb-355{
	padding-bottom: 355px;
}

.pb-265{
	padding-bottom: 265px;
}


.t-btn{
	display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
	vertical-align: middle;
	border: 1px solid transparent;
	padding: 6px 15px;
    font-size: 16px;
    border-radius: 5px;
}
.t-bg-primary{
	color: #fff;
	background-color: rgb(248, 97, 97);
	border-color: rgb(248, 97, 97);
	&:hover{
		color: #fff;
		background-color: rgb(241, 119, 119);
		border-color: rgb(241, 119, 119);
	}
}

.t-btn-outline{
	border: 1px solid transparent;
	border-color: rebeccapurple;
	color: rebeccapurple;
	&:hover{
		color:#fff;
		background-color:rebeccapurple;
	}
}
.t-radius{
	border-radius: 50%;
}

p {
	// font-family: serif;
	font-family: "gilroy-regular", sans-serif;
}
