/*----------------------------------------*/
/*  HOMEPAGE 01
/*----------------------------------------*/
.footer-area {
  background-color: rgba(255, 70, 94, 0.05);
  margin: 0 45px;
  padding: 130px 0px 85px 0px;
  border-radius: 24px;
  position: relative;

  &-shape {
    img {
      position: absolute;
    }

    .ft-shape-01 {
      top: -50px;
      left: 20px;
      z-index: -1;
    }

    .ft-shape-02 {
      top: -30px;
      right: 80px;
      z-index: -1;
    }

    .ft-shape-03 {
      bottom: -30px;
      right: 80px;
      z-index: -1;
    }
  }

  &-about {
    h4 {
      font-size: 26px;
      line-height: 35px;
      margin-top: 10px;
      margin-bottom: 15px;
    }
    p {
      max-width: 305px;
      margin-top: 0px;
      margin-bottom: 18px;
      font-family: $gilroy-medium;
      line-height: 30px;
    }
  }

  &-links {
    a {
      border: 1px solid #ff465e;
      color: #ff465e;
      border-radius: 50%;
      height: 47px;
      width: 47px;
      line-height: 47px;
      text-align: center;
      margin-right: 14px;
      display: inline-block;
      transition: 0.3s all linear;
      background-color: $white;

      &:hover {
        color: $white;
        background-color: #ff465e;
      }
    }
  }

  &-lists {
    h4 {
      margin-bottom: 5px;
    }

    ul {
      li {
        a {
          font-size: 16px;
          line-height: 36px;
          margin-bottom: 0px;
          display: inline-block;
          font-family: $gilroy-medium;
          color: $secondary;
        }
      }
    }
  }
}

// Copyright Area
.copyright {
  padding: 33px;

  &-area {
    &-text {
      p {
        color: $primary;
        font-family: $gilroy-bold;
      }
    }

    &-top {
      a {
        color: $primary;
        font-size: 16px;
        font-family: $gilroy-bold;

        i {
          margin-left: 3px;
        }
      }
    }
    &-logo a{
      display: inline-block;
      height: 41px;
      width: auto;
      img {
        height: 100%;
        width: auto;
      }
    }
  }
}

/*----------------------------------------*/
/*  HOMEPAGE 02
/*----------------------------------------*/
.dark-footer {
  padding-top: 110px;
  background-color: #29303e;
  border-top-right-radius: 166px;

  .footer-area {
    background-color: transparent;
    margin: 0px;
    padding: 0px;
    border-radius: 0px;

    &-about {
      margin-bottom: 0px;
      p {
        margin-top: 25px;
        color: #c6c6c6;
      }
    }

    &-lists {
      h4 {
        color: #ffffff;
      }

      ul li a {
        color: #c6c6c6;
      }
    }
    &-links {
      a {
        background-color: transparent;
        &:hover {
          background-color: $tertiary;
          color: $white;
        }
      }
    }
  }

  .copyright {
    &-area-text {
      p {
        color: #ffffff;
      }
    }

    &-area-top {
      a {
        color: #ffffff;
      }
    }
  }
}

/*----------------------------------------*/
/*  HOMEPAGE 03
/*----------------------------------------*/
.footer03 {
  background-color: #1f99f4;

  .footer-area {
    background-color: inherit;
    padding: 0;
    padding-top: 130px;
    &-about {
      a {
        margin-bottom: 20px;
      }
    }
    &-links {
      a {
        border: 0;
        color: #fff;
        background-color: rgba(255, 255, 255, 0.24);

        &:hover {
          color: #fff;
          background-color: #ed880a;
        }
      }
    }

    &-lists {
      h4 {
        margin-bottom: 5px;
        color: #ffffff;
      }

      ul {
        li {
          a {
            color: white;
            transition: 0.3s all linear;
            &:hover {
              color: #ed880a;
            }
          }
        }
      }
    }
  }
}

/*----------------------------------------*/
/*  HOMEPAGE 04
/*----------------------------------------*/
.footer04 {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 120px;

  .footer-area {
    padding: 0;
    background-color: inherit;

    &-about {
      .logo {
        margin-bottom: 25px;
      }

      p {
        font-size: 16px;
        color: #9dadb7;
        font-weight: 500;
        font-family: $hind;
        line-height: 30px;
        margin-bottom: 20px;
      }
    }

    &-lists {
      h4 {
        color: white;
        font-size: 26px;
        line-height: 39px;
        font-family: $teko;
        font-weight: 700;
        text-transform: uppercase;
      }

      li {
        margin: 0;

        a {
          color: #9dadb7;
          font-family: $hind;
          font-weight: 500;
          font-size: 16px;
          line-height: 36px;
        }
      }
    }
    &-links {
      a {
        background-color: #29303e;
        &:hover {
          background-color: #ff465e;
        }
      }
    }
  }

  .copyright {
    padding: 20px;

    &-area-text {
      p {
        color: #9dadb7;
        font-family: $hind;
        font-weight: 500;
        font-size: 16px;
        line-height: 27px;
      }
    }

    &-area-list {
      ul {
        li {
          color: #9dadb7;
          font-family: $hind;
          font-weight: 500;
          font-size: 16px;
          line-height: 27px;
          margin-right: 35px;

          &:last-child {
            margin-right: 0;
          }
        }
      }
    }
  }
}

/*----------------------------------------*/
/*  RESPONSIVE CSS START 
/*----------------------------------------*/

/* Common Devices-Sizes */
@media (min-width: 1200px) {
  .mr-lg-65 {
    margin-right: 65px;
  }
}

@media (max-width: 1200px) {
  .footer-area {
    padding-top: 120px;
    padding-bottom: 30px;
    &-about {
      p {
        max-width: 100%;
      }
    }

    &-shape {
      .ft-shape-03 {
        bottom: 0px;
      }
    }
  }
  // Homepage-03
  .footer04 {
    padding-top: 60px;
  }

  // Homepage-04
  .footer03 {
    .footer-area {
      padding-top: 90px;
    }
    .copyright {
      padding: 20px 15px;
    }
  }
}

@media (min-width: 1024px) and (max-width: 1199px) {
}

@media (max-width: 991px) {
  .footer03 {
    .footer-area {
      padding-bottom: 0px !important;
      &-about {
        margin-bottom: 0px;
        p {
          margin-top: 0px;
        }
      }
    }
  }
  // Services
  .footer-area {
    margin: 0px;
    padding-bottom: 0px !important;
  }
  .dark-footer {
    padding-bottom: 0px !important;
  }
}

@media (min-width: 768px) and(max-width: 991px) {
  // Globally Footer
  .footer-area {
    .footer-area-about h4,
    .footer-area-lists h4 {
      font-size: 22px;
    }
    .footer-area-about p,
    .footer-area-lists ul li a {
      font-size: 14px;
    }
    .footer-area-lists ul li a {
      margin-bottom: 0px;
    }
    .footer-area-links {
      a {
        height: 40px;
        width: 40px;
        line-height: 40px;
      }
    }
  }

  // Copyright Area
  .copyright-area-text {
    p {
      font-size: 14px;
    }
  }
  .copyright-area-top {
    a {
      font-size: 14px;
    }
  }
  .copyright-area-logo {
    a {
      img {
        width: 65% !important;
      }
    }
  }
}

@media (max-width: 767px) {
  .dark-footer {
    .footer-area {
      &-lists {
        margin-bottom: 15px;
      }
      &-about {
        margin-bottom: 0px;
        p {
          max-width: 100% !important;
        }
      }
    }
  }
  // homepage-03
  .footer04 {
    .footer-area {
      &-about {
        .logo {
          margin-bottom: 15px;
        }
        &.mb-30 {
          margin-bottom: 0px;
        }
      }
    }
    .copyright {
      .col-sm-12 {
        flex-direction: column;
      }
      &-area-text {
        p {
          font-size: 14px;
          line-height: 28px;
        }
      }
    }
    .copyright-area-list {
      ul {
        justify-content: center;
        li {
          font-size: 14px;
          margin-right: 15px;
        }
      }
    }
  }
  // Homepage-04
  .footer03 {
    .footer-area {
      &-lists {
        margin-bottom: 15px;
      }
    }
  }
  .footer-area {
    padding-bottom: 30px !important;
  }
}

@media (max-width: 575px) {
  .dark-footer {
    padding-top: 15px;
    border-top-right-radius: 0px;
    .footer-area {
      &-about {
        margin-top: 15px;
      }
      &-lists {
        margin-bottom: 15px;
      }
    }
  }
  .copyright-area-logo {
    a {
      img {
        display: none;
      }
    }
  }
  .copyright {
    padding: 32px 0px;
  }
}

@media (min-width: 320px) and(max-width: 574px) {
  .footer-area {
    border-radius: 0px;
    padding-top: 90px;

    &-about {
      p {
        font-size: 14px;
        line-height: 24px;
      }
    }
    &-lists {
      margin-bottom: 0px;
    }
    &-shape {
      display: none;
      .ft-shape-01 {
        left: 0px;
      }
      .ft-shape-02 {
        right: 0px;
      }
      .ft-shape-03 {
        right: 15px;
      }
    }
  }

  .footer04 {
    .footer-area {
      padding-top: 0px;
      &-lists {
        margin-bottom: 15px;
        ul {
          li {
            a {
              line-height: 26px;
            }
          }
        }
      }
    }
  }
  .copyright {
    .justify-content-between {
      flex-direction: column;
    }
  }

  // Homepage-04
  .footer03 {
    .footer-area {
      padding-top: 60px;
    }
    .copyright-area-text {
      p {
        font-size: 12px;
      }
    }
  }
}

/* large devices 992 - 1199*/
@media #{$lg} {
  // Globally Footer
  .footer-area {
    margin: 0px;
  }
}

/* Small devices 575 - 767 */
@media #{$sm} {
  // Globally Footer
  .footer-area {
    .footer-area-about h4,
    .footer-area-lists h4 {
      font-size: 22px;
    }
    .footer-area-about p,
    .footer-area-lists ul li a {
      font-size: 16px;
      line-height: 26px;
    }
    .footer-area-lists ul li a {
      margin-bottom: 5px;
    }
  }
  .copyright {
    text-align: center !important;
  }
  // Copyright Area
  .copyright-area-text {
    p {
      font-size: 13px;
      line-height: 21px;
    }
  }
  .copyright-area-top {
    a {
      font-size: 13px;
    }
  }
}

/* Small devices 420 - 574 */
@media #{$xs} {
  // Globally Footer
  .footer-area {
    padding: 50px 0px 20px 0px !important;
    margin: 0 0px !important;
    border-radius: 0px !important;
    .footer-area-shape {
      display: none !important;
    }
    .footer-area-about h4,
    .footer-area-lists h4 {
      font-size: 22px;
    }
    .footer-area-about p,
    .footer-area-lists ul li a {
      font-size: 14px;
    }
    .footer-area-lists ul li a {
      margin-bottom: 5px;
    }
    .footer-area-links {
      a {
        height: 35px;
        width: 35px;
        line-height: 35px;
      }
    }
  }
  // Copyright Area
  .copyright {
    text-align: center !important;
  }
  .copyright-area-text {
    p {
      font-size: 14px;
      line-height: 22px;
    }
  }
  .copyright-area-top {
    a {
      font-size: 14px;
    }
  }
  .copyright-area-logo {
    a {
      img {
        width: 65% !important;
      }
    }
  }
}

/* extra Small devices 420 */
@media #{$xsm} {
  // Globally Footer
  .footer-area {
    .footer-area-about h4,
    .footer-area-lists h4 {
      font-size: 22px;
    }

    .footer-area-lists ul li a {
      margin-bottom: 5px;
    }
  }
  // Copyright Area
  .copyright {
    text-align: center !important;
  }
  .copyright-area-text {
    p {
      font-size: 14px;
      line-height: 22px;
    }
  }
  .copyright-area-top {
    a {
      font-size: 14px;
    }
  }
  .copyright-area-logo {
    a {
      img {
        width: 65% !important;
      }
    }
  }
}
