/*----------------------------------------*/
/*  HOMPAGE 01
/*----------------------------------------*/
.header-area {
    padding: 20px 0px;
    position: relative;

    .main-menu {
        padding-left: 155px;

        li {
            padding-right: 45px;
            position: relative;

            &:last-child {
                padding-right: 0;
            }

            a {
                color: $secondary;
                font-size: 18px;
                padding: 15px 0;
                line-height: 42px;
                position: relative;
                font-family: $gilroy-medium;
                transition: 0.3s;

                &:hover {
                    color: $tertiary;
                }

                &.active {
                    color: $tertiary;
                }

                &.active::before {
                    content: '';
                    position: absolute;
                    width: 26px;
                    height: 5px;
                    color: $tertiary;
                    background-color: $tertiary;
                    top: -26px;
                    left: 0;
                }
            }

            .sub-menu {
                position: absolute;
                left: 0;
                background: #222222;
                width: 200px;
                top: 120%;
                opacity: 0;
                visibility: hidden;
                transition: 0.5s;
                box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
                background: white;
                border-radius: 5px;
                border-top: 5px solid $tertiary;
                z-index: 999;

                li {
                    display: block;
                    margin-right: 0;
                    a {
                        padding: 0px 20px;
                        color: $secondary;
                        font-size: 18px;
                        line-height: 42px;
                        font-family: $gilroy-medium;
                        transition: 0.3s;

                        &:hover {
                            color: $tertiary;
                        }
                    }
                }
            }

            &:hover .sub-menu {
                opacity: 1;
                visibility: visible;
                top: 100%;
            }
        }
    }

    .right-content {
        display: flex;
        align-items: center;

        .search-bar {
            cursor: pointer;
            border: 1px solid #ffdee4;
            width: 64px;
            height: 64px;
            line-height: 64px;
            border-radius: 50%;
            text-align: center;
            margin-right: 30px;
        }

        .contact-number {
            .t-btn {
                font-size: 18px;
            }
        }
    }

    .menu-icon {
        font-size: 25px;
    }
}

aside {
    width: 100%;
    visibility: hidden;

    &.active {
        visibility: visible;

        .sidebar-menu {
            transition: all 0.3s ease-in-out;
            transform: translateX(0%);
        }
    }
    .main-menu {
        li {
            a {
                &::before {
                    display: none;
                }
                &:hover {
                    color: $tertiary;
                }
            }
        }
    }
    .asidesearch-bar {
        margin-top: 40px;
        position: relative;
        input {
            width: 100%;
            height: 50px;
            border: 0;
            border: 1px solid #dadada;
        }
        img {
            position: absolute;
            right: 15px;
            top: 50%;
            transform: translateY(-50%);
        }
    }

    .overlay {
        position: fixed;
        top: 0;
        left: 0;
        z-index: 11;
        background-color: rgba(0, 0, 0, 0.439);
        width: 100%;
        height: 100vh;
    }

    .sidebar-menu {
        width: 350px;
        height: 100vh;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 15;
        transition: all 0.3s ease-in-out;
        transform: translateX(-100%);
    }
}

.sidebar-menu {
    background-color: rgb(241, 249, 255);
    padding: 20px 30px 50px;
    box-sizing: border-box;

    .logo {
        margin-bottom: 20px;
    }

    ul.main-menu {
        padding: 0;
        margin-top: 50px;

        li {
            padding-right: 0;

            a {
                width: 100%;
            }

            a.active::before {
                top: 0;
            }
        }
    }

    .contact-btn {
        margin-top: 20px;
    }
}

aside,
.hamburger-menu {
    display: none;
}

.hamburger-menu,
.close-sidebar {
    position: relative;
    width: 25px;
    height: 20px;
    margin: 15px;
    cursor: pointer;
    margin-left: auto;
}

.hamburger-menu span,
.close-sidebar span {
    opacity: 1;
    left: 0;
    display: block;
    width: 100%;
    height: 2px;
    border-radius: 10px;
    color: black;
    background-color: $primary;
    position: absolute;
    transform: rotate(0deg);
    transition: 0.4s ease-in-out;
}

.hamburger-menu span:nth-child(1),
.close-sidebar span:nth-child(1) {
    top: 0;
}

.hamburger-menu span:nth-child(2) {
    top: 9px;
}

.hamburger-menu span:nth-child(3),
.close-sidebar span:nth-child(2) {
    top: 18px;
}

.hamburger-menu.open span:nth-child(1),
.close-sidebar span:nth-child(1) {
    transform: translateY(9px) rotate(135deg);
}

.hamburger-menu.open span:nth-child(2) {
    opacity: 0;
    transform: translateX(160px);
}

.hamburger-menu.open span:nth-child(3),
.close-sidebar span:nth-child(2) {
    transform: translateY(-9px) rotate(-135deg);
}

/*----------------------------------------*/
/*  SEarch Box CSS
/*----------------------------------------*/
.search-box {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: white;
    z-index: 99 !important;
    visibility: hidden;
    opacity: 0;
    transition: all 0.3s ease;

    .search-close {
        position: absolute;
        top: 50px;
        right: 50px;
        font-size: 28px;
        color: $secondary;
        transition: all 0.3s ease;

        &:hover {
            color: $tertiary;
        }
    }
}

.search-box.search-open {
    visibility: visible;
    opacity: 1;
}

.search-form {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
}

.search-form {
    input {
        width: 100%;
        height: 80px;
        line-height: 60px;
        font-size: 14px;
        color: $secondary;
        padding: 0 15px;
        padding-right: 55px;
        background-color: rgba(255, 70, 94, 0.05);
        border: 3px solid #dddddd;
        position: relative;
    }

    &::placeholder {
        color: $secondary;
        font-size: 14px;
    }

    button {
        position: absolute;
        top: 0;
        right: 0;
        width: 80px;
        height: 80px;
        line-height: 56px;
        border-radius: 50%;
        background: transparent;
    }
}

/*----------------------------------------*/
/*  HOMPAGE 02
/*----------------------------------------*/
.header-area02 {
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    position: absolute;
    width: 100%;
    z-index: 999;
    .main-menu {
        padding-left: 135px;

        li {
            padding-right: 50px;
        }
    }
    .right-content {
        .search-bar {
            border: 1px solid rgba(255, 255, 255, 0.2);
            margin-right: 25px;
        }
    }
    .hamburger-menu {
        span {
            background-color: #fff;
        }
    }
}

/*----------------------------------------*/
/*  HOMPAGE 03
/*----------------------------------------*/
.header-area03 {
    margin: 0;
    position: absolute;
    width: 100%;
    z-index: 999;

    .main-menu {
        li {
            a {
                color: white;

                &.active {
                    color: white;
                }

                &.active::before {
                    color: white;
                    background-color: white;
                }
            }
        }
    }

    .right-content {
        .search-bar {
            border: 0;
            background-color: rgba(255, 255, 255, 0.34);
        }
    }
}

/*----------------------------------------*/
/*  HOMPAGE 04
/*----------------------------------------*/
.header-area04 {
    position: absolute;
    width: 100%;
    left: 0;
    z-index: 9999;
    .main-menu {
        padding-left: 105px;

        li {
            a {
                font-family: $teko;
                font-weight: 500;
                font-size: 20px;

                &.active::before {
                    top: -21px;
                }
            }
        }
    }

    .contact-number {
        margin-left: 20px;

        .t-btn {
            border: 2px solid #3c5b6b;
            font-family: $teko;
            font-size: 20px;
            font-weight: 500;
        }
    }

    .right-content {
        .social-icon {
            display: flex;

            a {
                border: 2px solid #3c5b6b;
                color: #fff;
                border-radius: 50%;
                height: 60px;
                width: 60px;
                display: flex;
                justify-content: center;
                align-items: center;
                margin-right: 22px;
                -webkit-transition: 0.3s all linear;
                transition: 0.3s all linear;

                &:hover {
                    color: #fff;
                    background: $tertiary;
                    border-color: $tertiary;
                }
            }
        }
    }
    &.sticky {
        .right-content {
            .social-icon {
                a {
                    background-color: #65729e;
                }
            }
        }
        .hamburger-menu {
            span {
                background-color: #3c5b6b;
            }
        }
    }
    .hamburger-menu {
        span {
            background-color: #fff;
        }
    }
}

@media (max-width: 1200px) {
    aside,
    .hamburger-menu {
        display: block;
    }

    .menu-area .main-menu,
    .menu-area .right-content {
        display: none !important;
    }
}

//Sticky Header
.header-area {
    transition: padding 0.3s ease-in-out;

    .main-menu li a::before {
        transition: all 0.3s ease-in-out;
    }

    &.sticky {
        width: 100%;
        position: sticky;
        top: 0;
        left: 0;
        box-shadow: 0 1px 10px 0px #dadada;
        background-color: white;
        z-index: 9999;
        padding: 15px 0px;

        .main-menu li a.active::before {
            top: -21px;
        }
    }
}

//home page 2 sticky menu
.header-area02 {
    transition: padding 0.3s ease-in-out;

    .main-menu li a::before {
        transition: all 0.3s ease-in-out;
    }

    &.sticky {
        box-shadow: inherit;
        background-color: #29303e;
    }
}

//home page 3 sticky menu
.header-area03 {
    transition: padding 0.3s ease-in-out;

    .main-menu li a::before {
        transition: all 0.3s ease-in-out;
    }

    &.sticky {
        box-shadow: inherit;
        background-color: #1f99f4;
    }
}
