// Responsive Variables
$lg : 'only screen and (min-width: 992px) and (max-width: 1169px)';
$md:'only screen and (min-width: 768px) and (max-width: 991px)';
$sm: 'only screen and (min-width: 575px) and (max-width: 767px)';
$xs: 'only screen and (min-width: 420px) and (max-width: 574px)';
$xsm:'(max-width: 420px)';


// /*----------------------------------------*/
// /*  RESPONSIVE CSS START 
// /*----------------------------------------*/

// /* large devices 992 - 1169*/
// @media #{$lg} {
//     /* common area start */

// }

// /* Medium devices 768 - 991 */
// @media #{$md} {
//     /* common area start */
// }

// /* Small devices 575 - 767 */
// @media #{$sm} {
//     /* common area start */
// }

// /* Small devices 420 - 574 */
// @media #{$xs} {
//     /* common area start */
// }
// /* extra Small devices 420 */
// @media #{$xsm} {
//     /* common area start */
// }
