/*----------------------------------------*/
/*  HOMEPAGE 03
/*----------------------------------------*/
.client-review {
  position: relative;
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 145px;
  .banner-image {
    margin-top: -24px;
  }
  .section-title {
    margin: 0;
    margin-bottom: 30px;
    margin-top: -70px;
    h2 {
      text-transform: uppercase;
      color: white;
      font-size: 60px;
      font-family: $teko;
      font-weight: 600;
      line-height: 1;
      span {
        color: $tertiary;
      }
    }
  }
  .review-active {
    .single-testimonial {
      p {
        font-family: $hind;
        font-weight: 500;
        font-size: 22px;
        color: #9DADB7;
        line-height: 34px;
      }
      .client-name {
        position: relative;
        padding-left: 15px;
        margin-top: 40px;
        h3 {
          text-transform: uppercase;
          color: white;
          font-size: 26px;
          font-family: $teko;
          font-weight: 600;
          line-height: 1;
        }
        p {
          font-family: $hind;
          font-weight: 500;
          font-size: 16px;
          color: #9dadb7;
          line-height: 27px;
        }
        &::before {
          content: '';
          position: absolute;
          top: 0;
          left: 0;
          width: 5px;
          height: 60px;
          background-color: $tertiary;
        }
      }
    }
    .slick-arrow {
      position: absolute;
      left: -217px;
      bottom: -155px;
      background-color: #fff;
      color: $tertiary;
      border: 1px solid transparent;
      width: 157px;
      height: 79px;
      cursor: pointer;
      text-align: center;
      display: flex;
      justify-content: center;
      align-items: center;
      font-family: $teko;
      font-size: 26px;
      font-weight: 500;
      @include transition(0.3s);
      &:hover {
        background-color: $tertiary;
        color: #fff;
      }
      &.nextArrow {
        left: -60px;
        background-color: #fff;
        color: #ff465e;
        &::before {
          content: '\f061';
          font-family: 'Font Awesome 5 Free';
          font-weight: 900;
          position: absolute;
          right: 30px;
          font-size: 20px;
          top: 48%;
          transform: translateY(-50%);
        }
        &:hover {
          background-color: $tertiary;
          color: #fff;
        }
      }
      &.prevArrow {
        &::before {
          content: '\f060';
          font-family: 'Font Awesome 5 Free';
          font-size: 20px;
          font-weight: 900;
          position: absolute;
          left: 30px;
          top: 47%;
          transform: translateY(-50%);
        }
      }
    }
  }
  &__quotes {
    user-select: none;
    position: absolute;
    right: 20%;
    bottom: 15%;
  }
}

@media (max-width: 1200px) {
  .client-review {
    .banner-image {
      img {
        max-width: 100%;
      }
    }
    .single-testimonial {
      .client-name {
        margin: 15px 0px !important;
      }
    }
  }
}

@media (max-width: 1199px) {
  .client-review {
    padding: 60px 0px;
    padding-bottom: 110px;
    .review-active {
      .slick-arrow {
        bottom: -78px;
      }
    }
    &__quotes {
      right: 0px;
    }
  }
}

@media (min-width: 1024px) and (max-width: 1199px) {
  .client-review {
    padding: 160px 0px;
    padding-bottom: 30px;
    .review-active {
      .slick-arrow {
        bottom: -93px;
      }
    }
    .section-title {
      margin-bottom: 0px;
    }
    .single-testimonial {
      .client-name {
        margin: 15px 0px !important;
      }
    }
  }
}

@media (min-width: 992px) and (max-width: 1023px) {
  .client-review {
    padding: 110px 0px;
    padding-bottom: 60px;
    .section-title {
      margin-top: 0px;
    }
  }
}

@media (max-width: 991px) {
  .client-review {
    .section-title {
      margin-top: 30px;
      margin-bottom: 0px;
    }
    .pl-45 {
      padding-left: 0px;
    }
    .review-active {
      .slick-arrow {
        left: 0px;
        bottom: -90px;
        height: 60px;
        &.nextArrow {
          left: 175px;
        }
      }
    }

    .banner-image {
      display: flex;
      justify-content: center;
    }
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .client-review {
    .review-active {
      .single-testimonial {
        p {
          font-size: 18px;
        }
      }
    }
    &__quotes {
      bottom: 5%;
    }
  }
}

@media (max-width: 767px) {
  .client-review {
    padding: 120px 0px;
    padding-bottom: 120px;
    .row {
      .col-sm-12 {
        &.pl-45 {
          padding-left: 15px;
        }
      }
    }

    .banner-image {
      display: flex;
      justify-content: center;
    }
    .section-title {
      margin-top: 0px;
      h2 {
        margin: 30px 0px;
        margin-bottom: 15px;
      }
    }
    .review-active {
      .slick-arrow {
        left: 0px;
        bottom: -130px;
        &.nextArrow {
          left: 175px;
        }
      }
    }
  }
}

@media (max-width: 575px) {
  .client-review {
    padding-bottom: 60px;
    .section-title h2 {
      font-size: 48px;
    }
    .review-active {
      .single-testimonial {
        p {
          font-size: 18px;
          line-height: 28px;
        }
      }
      .slick-arrow {
        bottom: -80px;
      }
    }
    .banner-image {
      justify-content: flex-start;
    }
  }
}

@media (min-width: 320px) and(max-width: 574px) {
  .client-review {
    padding: 90px 0px;
    .review-active {
      .single-testimonial {
        p {
          font-size: 18px;
          line-height: 24px;
        }
      }
      .slick-arrow {
        width: 120px;
        height: 50px;
        font-size: 18px;
        line-height: 18px;
        bottom: -85px;
        &.prevArrow {
          &::before {
            left: 15px;
          }
        }
        &.nextArrow {
          left: 135px;
          &::before {
            left: 85px;
          }
        }
      }
    }
  }
}

@media (min-width: 320px) and (max-width: 419px) {
  .client-review {
    .section-title {
      h2 {
        font-size: 38px;
      }
    }
    .review-active {
      .single-testimonial {
        font-size: 18px;
      }
    }
  }
}
