.services-introduction {
  padding: 100px 0;

  &-item {
    &-image {
      background: rgba(255, 70, 94, 0.16);
      height: 85px;
      width: 85px;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      margin: auto;
      margin-bottom: 25px;
    }

    p {
      max-width: 142px;
      color: $primary;
      font-family: $gilroy-bold;
      line-height: 22px;
      margin: auto;
      text-align: center;
    }
  }

  &-text {
    margin-left: -15px;
    .section-heading {
      h2 {
        font-size: 48px;
        line-height: 64px;
        max-width: 592px;
        margin-bottom: 20px;
      }

      p {
        max-width: 578px;
        font-family: $gilroy-medium;
        font-size: 18px;
      }
    }

    a {
      margin-top: 50px;
      transition: 0.3s;
      margin-top: 35px;
    }
  }
}

/*----------------------------------------*/
/*  HOMEPAGE 04 
/*----------------------------------------*/
.homepage-03 {
  &.service-introduction {
    padding-bottom: 155px;
    .section-heading {
      margin-bottom: 85px;
    }
    .services-introduction-item-text {
      text-align: center;
    }
    .services-introduction-item-image {
      width: 135px;
      height: 135px;
    }
  }

  .section-heading {
    margin-bottom: 55px;
    h2 {
      line-height: 64px;
      margin-bottom: 15px;
    }
    p {
      font-size: 18px;
      line-height: 34px;
      font-family: $gilroy-medium;
      max-width: 75%;
      margin: auto;
    }
  }

  .services-introduction-item {
    &-text {
      h5 {
        margin-bottom: 25px;
      }

      p {
        line-height: 30px;
        max-width: 100%;
        font-family: $gilroy-medium;
        color: $secondary;
      }
    }
  }

  // About Section
  &.about-introduction {
    padding-top: 100px;
    .sub-section-heading {
      h2 {
        font-size: 48px;
        line-height: 64px;
      }
    }
    .work-process-item {
      margin-bottom: 35px;
    }
  }
}

/*----------------------------------------*/
/*  RESPONSIVE CSS START 
/*----------------------------------------*/

/* Common Devices-Sizes */

@media (max-width: 1024px) {
  .services-introduction {
    padding-bottom: 60px;
  }
  // Homepage-04
  .homepage-03 {
    overflow: hidden;
    z-index: 1;
    .services-introduction {
      &-item {
        &-text {
          h5 {
            margin-bottom: 0px;
          }
        }
      }
    }
    &.service-introduction {
      padding-bottom: 60px;
    }
  }
}

@media (max-width: 991px) {
  .services-introduction {
    padding-bottom: 0px !important;
    .section-heading {
      h2 {
        font-size: 38px;
        line-height: 48px;
        margin-bottom: 15px;
      }
      p {
        margin-top: 0px;
      }
    }
    &-item {
      float: left;
      &.mb-55 {
        margin-bottom: 30px;
      }
    }
    &-text {
      a {
        margin-top: 20px;
      }
    }
  }
}

@media (max-width: 767px) {
  .services-introduction {
    padding-top: 60px;
    &-item {
      &-image {
        margin-bottom: 15px;
      }
    }
  }
  // Homepage-04
  .homepage-03 {
    .section-heading {
      h2 {
        font-size: 38px;
        line-height: 48px;
      }
      p {
        max-width: 100%;
      }
    }

    .services-introduction-item {
      margin-bottom: 30px;
    }

    &.about-introduction {
      padding-bottom: 90px;
    }
  }
}

@media (max-width: 575px) {
  .services-introduction {
    &-text {
      margin-left: 0px;
    }
    .section-heading {
      h2 {
        font-size: 26px;
        line-height: 36px;
      }
    }
  }
  .homepage-03 {
    &.about-introduction {
      .about-intro-left {
        .award {
          right: 50% !important;
          transform: translateX(50%);
        }
      }
    }
  }
}

@media (min-width: 320px) and (max-width: 574px) {
  .homepage-03 {
    .section-heading {
      h2 {
        font-size: 32px;
        line-height: 38px;
      }
    }
    // About
    &.about-introduction {
      padding-top: 60px;
      .sub-section-heading {
        h2 {
          font-size: 28px;
          line-height: 38px;
        }
      }
      .work-process-item {
        margin-bottom: 15px;
        h5 {
          font-size: 18px;
          line-height: 28px;
        }
      }
      .about-intro-left {
        .award {
          width: 135px;
          height: 135px;
        }
      }
    }
  }
  .services-introduction {
    &-item {
      // float: center !important;
      float: none;
    }
  }
}
