.services-introduction {
    padding: 100px 0;

    &-item {
        &-image {
            background: rgba(255, 70, 94, 0.16);
            height: 85px;
            width: 85px;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            margin: auto;
            margin-bottom: 25px;
        }

        p {
            max-width: 142px;
            color: $primary;
            font-family: $gilroy-bold;
            line-height: 22px;
            margin: auto;
            text-align: center;
        }
    }

    &-text {
        margin-left: -15px;
        .section-heading {
            h2 {
                margin-bottom: 45px;
                max-width: 592px;
                line-height: 64px;
            }

            p {
                max-width: 578px;
                list-style: 30px;
                font-family: $gilroy-medium;
                font-size: 18px;
                margin-top: 60px;
            }
        }

        a {
            margin-top: 50px;
            transition: 0.3s;
            margin-top: 55px;
        }
    }
}

/*----------------------------------------*/
/*  HOMEPAGE 03 
/*----------------------------------------*/
.homepage-03 {
    &.service-introduction {
        padding-bottom: 130px;
    }

    .section-heading {
        p {
            font-size: 18px;
            font-family: $gilroy-medium;
        }
    }

    .services-introduction-item {
        &-text {
            h5 {
                margin-bottom: 25px;
            }

            p {
                line-height: 30px;
                max-width: 100%;
                font-family: $gilroy-medium;
                color: $secondary;
            }
        }
    }
}
