.services-introduction {
    padding: 100px 0;

    &-item {
        &-image {
            background: rgba(255, 70, 94, 0.16);
            height: 85px;
            width: 85px;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-bottom: 25px;
        }

        p {
            max-width: 142px;
            color: $primary;
            font-family: $gilroy-bold;
            line-height: 22px;
        }
    }

    &-text {
        .section-heading {
            h2 {
                margin-bottom: 45px;
                max-width: 592px;
                line-height: 64px;
            }

            p {
                max-width: 578px;
                list-style: 30px;
                font-family: $gilroy-medium;
                font-size: 18px;
            }
        }

        a {
            margin-top: 50px;
            transition: 0.3s;
        }
    }
}

// Homepage-03
.homepage-03 {
    &.service-introduction {
        padding-bottom: 130px;
    }

    .section-heading {
        p {
            font-size: 18px;
            font-family: $gilroy-medium;
        }
    }

    .services-introduction-item {
        &-text {
            h5 {
                margin-bottom: 25px;
            }

            p {
                line-height: 30px;
                max-width: 100%;
                font-family: $gilroy-medium;
                color: $secondary;
            }
        }
    }
}

/*----------------------------------------*/
/*  RESPONSIVE CSS START 
/*----------------------------------------*/

/* laptop devices 1200 - 1600 */
@media #{$laptop} {
    /* common area start */

}

/* large devices 992 - 1199*/
@media #{$lg} {
    /* common area start */

}

/* Medium devices 768 - 991 */
@media #{$md} {

    /* common area start */
    .services-introduction {
        padding: 100px 0;
    }

    .service-introduction {
        padding-bottom: 80px !important;

        .services-introduction-item {
            margin-top: 0;
            margin-bottom: 50px;
        }
    }

}

/* Small devices 0 - 768 */
@media #{$xs} {

    /* common area start */
    .services-introduction {
        &-item {

            p {
                max-width: 100%;
            }
        }

        &-item-image {
            margin-bottom: 20px;
        }

        &-text {
            .section-heading {
                h2 {
                    margin-bottom: 20px;
                    max-width: 100%;
                    line-height: 40px;
                }

                p {
                    font-size: 16px;
                }
            }
        }
    }

    .services-introduction-text a {
        margin-top: 30px;
    }

    .service-introduction {
        padding-bottom: 100px !important;
        .services-introduction-item {
            margin: 0;
            margin-top: 30px;
            text-align: center;

            &-image {
                margin: 0 auto;
                margin-bottom: 20px;
            }

            &-text {
                h5 {
                    margin-bottom: 5px;
                    font-size: 20px;
                }

            }

        }
    }
}

/* Small devices 576 - 767 */
@media #{$sm} {
    /* common area start */
}
