.special-services{
    &-image{
        margin-bottom: 23px;
        border-radius: 25px;
        height: 80px;
        width: 80px;
        display: flex;
        align-self: center;
        justify-content: center;
    }
    &-image-bg-one{
        background: rgba(117,91,255,0.15);
    }
    &-image-bg-two{
        background: rgba(255,70,94,0.16);
    }
    &-image-bg-three{
        background: rgba(255,70,94,0.16);
    }
    &-image-bg-four{
        background: rgba(68,213,145,0.16);
    }
    &-image-bg-five{
        background: rgba(247,134,255,0.16);
    }
    &-image-bg-six{
        background: rgba(46,137,255,0.16);
    }
    &-text{
        h5{
            font-family: $gilroy-bold;
            margin-bottom: 12px;
        }
        p{
            max-width: 278px;
            font-family: $gilroy-medium;
        }
    }
}

/*----------------------------------------*/
/*  RESPONSIVE CSS START 
/*----------------------------------------*/

/* laptop devices 1200 - 1600 */
@media #{$laptop} {
    /* common area start */

}

/* large devices 992 - 1199*/
@media #{$lg} {
    /* common area start */

}

/* Medium devices 768 - 991 */
@media #{$md} {
    /* common area start */
}

/* Small devices 0 - 768 */
@media #{$xs} {
    /* common area start */
    .special-services{
        padding: 0;
        padding-bottom: 100px;
    }
}

/* Small devices 576 - 767 */
@media #{$sm} {
    /* common area start */
}

