.our-team{
    background-color: #FFFAF5;
    &-member{
        &-info{
            .top-information{
                p{
                    margin-top: 5px;
                    font-size: 18px;
                    font-family: $gilroy-medium;
                }
            }
            .bottom-information{
                max-width: 222px;
                a{
                    transition: 0.3s all linear;
                    color: $secondary;
                    font-size: 20px;
                    &:hover{
                        color: #ED880A;
                    }
                }
            }
        }
    }
}
