.our-team{
    background-color: #FFFAF5;
    &-member{
        &-info{
            .top-information{
                p{
                    margin-top: 5px;
                    font-size: 18px;
                    font-family: $gilroy-medium;
                }
            }
            .bottom-information{
                max-width: 222px;
                a{
                    transition: 0.3s all linear;
                    color: $secondary;
                    font-size: 20px;
                    &:hover{
                        color: #ED880A;
                    }
                }
            }
        }
    }
}
/*----------------------------------------*/
/*  RESPONSIVE CSS START 
/*----------------------------------------*/

/* laptop devices 1200 - 1600 */
@media #{$laptop} {
    /* common area start */

}

/* large devices 992 - 1199*/
@media #{$lg} {
    /* common area start */

}

/* Medium devices 768 - 991 */
@media #{$md} {
    /* common area start */
    .our-team{
        padding: 100px 0;
    }
    .our-team-member{
        margin-bottom: 50px;
    }
}

/* Small devices 0 - 768 */
@media #{$xs} {
    /* common area start */
    .our-team{
        padding: 100px 0;
        .our-team-member{
            margin-bottom: 50px;
        }
    }
}

/* Small devices 576 - 767 */
@media #{$sm} {
    /* common area start */
}
