//Font Family
// gilroy font
$gilroy-regular: 'Gilroy-Regular';
$gilroy-bold: 'Gilroy-Bold';
$gilroy-heavy: 'Gilroy-Heavy';
$gilroy-light: 'Gilroy-Light';
$gilroy-medium: 'Gilroy-Medium';
//hind font
$hind: 'Hind', sans-serif;
//teko font
$teko: 'Teko', sans-serif;

// Colors ---------------

// Primary Color
$primary: #000560;

// Secondary Color
$secondary: #65729E;

// Tertiary Color
$tertiary: #FF465E;

// White Color
$white: #FFFFFF;

// Black Color
$black: #9DADB7;
