// Font Family
// gilroy font
$gilroy-regular: 'Gilroy-Regular';
$gilroy-bold: 'Gilroy-Bold';
$gilroy-heavy: 'Gilroy-Heavy';
$gilroy-light: 'Gilroy-Light';
$gilroy-medium: 'Gilroy-Medium';
// hind font
$hind: 'Hind', sans-serif;
// teko font
$teko: 'Teko', sans-serif;

// Colors ---------------

// Primary Color
$primary: #000560;

// Secondary Color
$secondary: #65729e;

// Tertiary Color
$tertiary: #ff465e;

// White Color
$white: #ffffff;

// Black Color
$black: #9dadb7;

// Responsive Variables
$lg: 'only screen and (min-width: 992px) and (max-width: 1199px)';
$md: 'only screen and (min-width: 768px) and (max-width: 991px)';
$sm: 'only screen and (min-width: 575px) and (max-width: 767px)';
$xs: 'only screen and (min-width: 420px) and (max-width: 574px)';
$xsm: '(max-width: 420px)';
