//Font Family
$teko: 'Teko', sans-serif;
$gilroy: 'gilroy-regular', sans-serif;

// Colors ---------------
// Primary Color
$primary: #000560;
// black and white colors
$white: #ffffff;
$white-2: #aabcd8;
$black: #00235a;
$black-2: #082e68;
$footer-bg: #001940;
$footer-bottom-bg: #00122f;

// grey colors
$grey:#fafaf8;
$grey-2:#f1f9ff;
$grey-3:#050505;

// theme colors
$theme-color: #ff5e14;
$body-text-color: #00235a;

// border colors
$border:#476088;
$border-2:#e4e4e4;
$border-3:#f4f4f4;


// Heading Color
$heading-color: #00235a;


// Soft color
$black-soft:#f2faff;
$black-soft-dark: #879292;


// Responsive Variables
$laptop: 'only screen and (min-width: 1200px) and (max-width: 1600px)';
$lg : 'only screen and (min-width: 992px) and (max-width: 1199px)';
$md:'only screen and (min-width: 768px) and (max-width: 991px)';
$sm: 'only screen and (min-width: 576px) and (max-width: 767px)';
$xs:'(max-width: 575px)';
