// START ABOUT US
.about-us{
    &-image{
        position: relative;
        .image{
            margin-left: -120px;
        }
        .small-feature{
            position: absolute;
            height: 120px;
            width: 135px;
            border-radius: 8px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
           &-item{
               h3{
                color: #FFFFFF;
                font-size: 34px;
               }
               .ratings{
                color: #FFFFFF;
                font-size: 12px;
               }
               p{
                font-size: 16px;
                color: #FFFFFF;
                font-family: $gilroy-medium;
               }
           }
        }
        .sm-feauter-top{
           top: -18%;
           left: 35%; 
           transform: translateX(-35%);
        }
        .sm-feauter-left{
            top: 50%;
            left: -30%; 
        }
        .sm-feauter-bottom{
            bottom: -13%;
            right: 26%; 
        }
    }
    &-text{
        .sub-heading{
            margin-bottom: 30px;
            h2{
                margin-bottom: 30px;
            }
            p{
                font-size: 18px;
                font-family: $gilroy-medium;
            }
        }
        .feature{
            .icon{
                margin-top: 5px;
                height: 30px;
                width: 30px;
                border-radius: 9px;
                i{
                    color: #ffffff;
                }
            }
            .text{
                h6{
                    margin-bottom: 15px;
                    font-size: 18px;
                }
                p{
                    font-family:  $gilroy-medium;
                }
            }
        }
        .alart{
            position: relative;
            background-color: #FFF5F7;
            max-width: 490px;
            padding: 15px 50px 15px 25px;
            border-radius: 6px;
            &::before{
                position: absolute;
                content: '';
                top: 0;
                left: 0;
                background-color: #FF465E;
                width: 7px;
                height: 100%;
                border-top-left-radius: 6px;
                border-bottom-left-radius: 6px;
            }
            &-icon{
                i{
                    color: #65729E;
                    font-size: 50px;
                }
            }
            &-text{
                p{
                    color: #000560;
                    font-size: 18px;
                    font-family:  $gilroy-medium;
                }
            }
            &-boldtext{
                h2{
                    color: #FF465E;
                    font-size: 55px;
                }
            }
        }
    }
}
// END ABOUT US

// START OUR TEAMS
.our-teams{
    &-member{
        &:hover{
            .member-info{
                background-color: #FF465E;
                .name{
                    h5{
                        color: #FFFFFF;
                    }
                    p{
                        color: #FFFFFF;
                    }
                }
                .social-links{
                    a{
                        color: #FFFFFF;
                    }
                }
            }
        }
        .image{
            position: relative;
            img{
                border-radius: 8px;
            }
        }
        .member-info{
            position: absolute;
            bottom: -5%;
            left: 0;
            right: 0;
            transition: 0.3s all linear;
            border-radius: 6px;
            margin: 0px 30px 0px 30px;
            padding: 20px;
            background-color: #FFFFFF;
            .name{
                h5{
                    margin-bottom: 3px;
                }
                p{
                    font-family:  $gilroy-medium;
                }
            }
            .social-links{
                a{
                    color: #65729E;
                    font-size: 16px;
                    transition: 0.3s all linear;
                    &:hover{
                        color: #333333;
                    }
                }
            }
        }
        
    }
}
// END OUR TEAMS
