.blog-area {
  padding-top: 165px;
  padding-bottom: 130px;
  .article-item {
    margin-bottom: 55px;
    h3 {
      margin-bottom: 25px;
      font-size: 36px;
    }

    .article-info {
      margin-bottom: 25px;
      display: flex;
      .article-time {
        display: flex;
        align-items: center;
        .date {
          margin-right: 40px;
        }
      }
      .author {
        margin-right: 40px;
        img {
          width: 32px;
          height: 32px;
          object-fit: cover;
          border-radius: 50%;
        }

        a {
          font-size: 16px;
          margin-left: 8px;
          color: #000560;
          font-family: $gilroy-bold;
          transition: 0.3s all linear;

          &:hover {
            color: #ff465e;
          }
        }
      }

      .date {
        span {
          font-size: 16px;
          font-family: $gilroy-medium;
          color: #65729e;
        }

        .icon {
          font-size: 16px;

          i {
            margin-right: 8px;
            color: #ff465e;
          }
        }
      }

      .comments {
        span {
          a {
            font-size: 16px;
            font-family: $gilroy-medium;
            color: #65729e;
            transition: 0.3s all linear;

            &:hover {
              color: #ff465e;
            }
          }
        }

        .icon {
          font-size: 16px;

          i {
            margin-right: 8px;
            color: #ff465e;
          }
        }
      }
    }

    .article-thumb {
      margin-bottom: 30px;

      img {
        border-radius: 8px;
      }
    }

    p.article-text {
      margin-bottom: 30px;
      font-size: 18px;
    }
  }

  .blog-quotes {
    background-color: #fff5f7;
    position: relative;
    z-index: 1;

    &::after {
      position: absolute;
      content: '\f10e';
      bottom: 50%;
      left: 50%;
      transform: translateX(-50%);
      color: rgba(255, 210, 219, 0.5);
      font-family: 'Font Awesome 5 Free';
      font-weight: 900;
      font-size: 150px;
      z-index: -1;
    }

    h3 {
      text-align: center;
      max-width: 625px;
      font-size: 36px;
      color: #ff465e;
    }
  }

  .overlay-thumb {
    &-image {
      position: relative;
      &::before {
        position: absolute;
        content: '';
        top: 0;
        left: 0;
        background: rgba(0, 5, 96, 0.4);
        border-radius: 4px;
        width: 100%;
        height: 100%;
        border-radius: 8px;
      }
    }

    .overlay-playbutton {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);

      .popup-video {
        @include transition(0.4s);
        color: red;
        background: white;
        border-radius: 50%;
        font-size: 14px;
        line-height: 98px;
        display: inline-block;
        width: 98px;
        height: 98px;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        z-index: 1;

        &::after {
          z-index: -1;
          position: absolute;
          content: '';
          border-radius: 50%;
          background-color: white;
          width: 100%;
          height: 100%;
          left: 50%;
          top: 50%;
          transform: translateX(-50%) translateY(-50%);
          animation: pulse-border 1500ms ease-out infinite;
        }

        & i {
          font-size: 18px;
          color: $tertiary;
        }

        &:hover {
          border-color: white;
        }
      }
    }
  }

  .pagination-area {
    border-top: 2px solid rgba(221, 221, 221, 0.5);

    nav {
      .pagination {
        li {
          a {
            height: 70px;
            width: 70px;
            border-radius: 50%;
            border: none;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-right: 20px;
            background-color: #fff5f7;
            font-size: 24px;
            color: #000560;
            transition: 0.3s all linear;
            font-family: $gilroy-bold;
            &.active {
              background-color: #ff465e;
              color: #ffffff;
              &:hover {
                background-color: #ff465e;
              }
            }
            &:hover {
              background-color: #ff465e;
              color: #ffffff;

              i {
                color: #ffffff;
              }
            }

            i {
              color: #ff465e;
              transition: 0.3s all linear;
            }
          }
        }
      }
    }
  }

  .aside {
    .search {
      padding: 20px;
      border: 1px solid #dee3ff;
      border-radius: 8px;

      form {
        input {
          border-radius: 0px;
          border: none;
          border-bottom: 1px solid #dddddd;
          padding-left: 0;

          &:focus {
            box-shadow: none;
          }
        }

        ::placeholder {
          color: #65729e;
          font-size: 16px;
          font-family: $gilroy-medium;
        }
      }

      .input-text {
        float: right;
        margin-top: -33px;

        h6 {
          font-size: 16px;
          color: #ff465e;
        }
      }
    }

    .recent-post {
      padding: 20px;
      border: 1px solid #dee3ff;
      border-radius: 8px;

      .aside-item-heading {
        margin-bottom: 25px;
      }

      &-item {
        border-bottom: 1px solid #dddddd;
        padding-bottom: 15px;
        margin-bottom: 25px;

        .image {
          margin-top: 5px;

          img {
            width: 65px;
          }
        }
      }

      &-text {
        margin-left: 15px;

        a {
          font-size: 16px;
          line-height: 24px;
          color: #000560;
          font-family: $gilroy-bold;
        }

        .post-text-bottom {
          display: flex;
          flex-wrap: wrap;

          span {
            color: #65729e;
            font-size: 14px;

            a {
              color: #ff465e;
              margin-right: 4px;
            }
          }
        }
      }
    }

    .blog-catagories {
      padding: 20px;
      border: 1px solid #dee3ff;
      border-radius: 8px;

      .aside-item-heading {
        margin-bottom: 20px;
      }

      &-item {
        ul {
          .active {
            color: #ff465e;
          }

          li {
            color: #65729e;
            font-size: 16px;
            font-family: $gilroy-medium;
            margin-bottom: 5px;

            a {
              color: #65729e;
              font-size: 16px;
              font-family: $gilroy-medium;
              transition: 0.3s all linear;

              &:hover {
                color: #ff465e;
              }
            }
          }
        }
      }
    }

    .archive-posts {
      padding: 20px;
      border: 1px solid #dee3ff;
      border-radius: 8px;

      .aside-item-heading {
        margin-bottom: 20px;
      }

      &-item {
        ul {
          li {
            margin-bottom: 8px;

            a {
              font-size: 16px;
              font-family: $gilroy-medium;
              color: #65729e;
              transition: 0.3s all linear;

              &:hover {
                color: #ff465e;
              }

              i {
                margin-right: 8px;
                color: #ff465e;
              }
            }
          }
        }
      }
    }

    .blog-gallery {
      padding: 20px;
      border: 1px solid #dee3ff;
      border-radius: 8px;

      .aside-item-heading {
        margin-bottom: 22px;
      }

      &-item {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;

        a {
          margin-bottom: 10px;
          img {
            height: 100px;
            width: 100px;
            border-radius: 5px;
          }
        }
      }
    }

    .blog-meta {
      padding: 20px;
      border: 1px solid #dee3ff;
      border-radius: 8px;

      .aside-item-heading {
        margin-bottom: 23px;
      }

      &-item {
        ul {
          li {
            margin-bottom: 10px;

            a {
              color: #65729e;
              font-size: 16px;
              font-family: $gilroy-medium;
              transition: 0.3s all linear;

              &:hover {
                color: #ff465e;
              }
            }
          }
        }
      }
    }

    //For Common
    .aside-item-heading {
      position: relative;
      margin-bottom: 15px;
      border-bottom: 1px solid #dddddd;

      &::after {
        position: absolute;
        content: '';
        bottom: -3px;
        left: 0;
        background-color: #ff465e;
        width: 35px;
        height: 3px;
      }

      h6 {
        font-size: 20px;
        margin-bottom: 10px;
      }
    }
  }
}

// Blog-Details Page
.blog-details {
  .article-item {
    h3 {
      font-size: 40px;
      margin-bottom: 20px;
    }

    .article-info {
      .author {
        i {
          color: #ff465e;
        }

        span {
          margin-left: 5px;
          color: #65729e;
          font-family: $gilroy-medium !important;

          a {
            font-family: $gilroy-medium !important;
            font-size: 16px !important;
            color: #ff465e !important;
            margin-left: 0 !important;
          }
        }
      }
    }

    p.article-text {
      font-size: 16px !important;
      margin-bottom: 20px;
    }

    p.article-summary {
      margin-bottom: 25px;
    }

    .article-tags {
      padding-bottom: 20px;
      border-bottom: 2px solid rgba(221, 221, 221, 0.5);
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: center;

      &-left {
        .related-tags {
          font-size: 16px;
          font-family: $gilroy-bold;
          color: #000560;
        }

        a {
          font-size: 14px;
          font-family: $gilroy-medium;
          color: #65729e;
          transition: 0.3s all linear;

          &:hover {
            color: #ff465e;
          }
        }

        .active {
          margin-left: 3px;
          color: #ff465e;
        }
      }

      &-right {
        .share-article {
          color: #000560;
          font-size: 16px;
          font-family: $gilroy-bold;
          margin-right: 10px;
        }

        .active {
          color: #ff465e;
        }

        a {
          font-size: 14px;
          color: #cacaca;
          margin-right: 10px;
          transition: 0.3s all linear;

          &:hover {
            color: #ff465e;
          }
        }
      }
    }

    .author-details {
      background-color: #fff5f7;
      padding: 30px;
      border-radius: 8px;
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      margin-bottom: 40px;
      &-image {
        margin-right: 30px;

        img {
          width: 100px;
          height: 100px;
          max-width: 100px;
          object-fit: cover;
          border-radius: 50%;
          border: 1px solid #bbbbbb;
        }
      }

      &-info {
        h6 {
          font-size: 20px;
        }

        span {
          color: #65729e;
          font-size: 16px;
          font-family: $gilroy-medium;
        }
      }
    }

    .comments-section {
      h3 {
        font-size: 26px;
      }

      &-area {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;

        .image {
          margin-right: 30px;

          img {
            height: 75px;
            width: 75px;
            max-width: 75px;
            border-radius: 50%;
            object-fit: cover;
          }
        }

        &-comment {
          .commenter {
            display: flex;
            justify-content: space-between;
            align-items: flex-start;
            margin-bottom: 10px;
            .commenter-info {
              h6 {
                font-size: 16px;
              }

              span {
                font-size: 16px;
                color: #65729e;
                font-family: $gilroy-medium;
              }
            }

            .replay {
              a {
                font-size: 16px;
                font-family: $gilroy-medium;
                color: #ff465e;

                i {
                  margin-right: 10px;
                }
              }
            }
          }
        }

        // Reply Message
        &.comments-section-areaReply {
          margin-left: 105px;
        }
      }
    }

    .write-comment-area {
      h3 {
        font-size: 26px;
      }

      form {
        input {
          background-color: #f9f9ff;
          border: 1px solid #dddddd;

          &:focus::-webkit-input-placeholder {
            color: #ff465e;
          }

          &:focus {
            box-shadow: none;
            border-color: #ff465e;
          }
        }

        textarea {
          background-color: #f9f9ff;
          border: 1px solid #dddddd;
          resize: none;

          &:focus::-webkit-input-placeholder {
            color: #ff465e;
          }

          &:focus {
            box-shadow: none;
            border-color: #ff465e;
          }
        }

        button {
          padding: 20px 50px;
        }

        ::placeholder {
          color: #69798d;
          font-size: 16px;
          font-family: $gilroy-medium;
        }
      }
    }
  }

  &-quotes {
    padding: 30px;
    padding-bottom: 50px;
    background-color: #ff465e;
    border-radius: 10px;
    position: relative;

    &::after {
      position: absolute;
      content: '\f10e';
      bottom: 18%;
      left: 67%;
      transform: rotate(180deg) scale(-1, 1);
      color: #ff465e;
      font-family: 'Font Awesome 5 Free';
      font-weight: 900;
      font-size: 30px;
      -webkit-text-stroke: 2px #ffffff;
    }

    p {
      text-align: center;
      color: #ffffff;
      font-family: $gilroy-medium;
      font-size: 18px;
    }
  }
}

@keyframes pulse-border {
  0% {
    transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1);
    opacity: 1;
  }

  100% {
    transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1.5);
    opacity: 0;
  }
}

/*----------------------------------------*/
/*  RESPONSIVE CSS START 
/*----------------------------------------*/

@media (max-width: 1200px) {
  .blog-area {
    padding: 90px 0px;
  }
}

@media (max-width: 991px) {
  .blog-area {
    .article-item {
      h3 {
        line-height: 46px;
      }
      .article-thumb {
        max-width: 535px;
        img {
          object-fit: cover;
        }
      }
      p.article-text {
        margin-bottom: 30px;
      }
    }
    .blog-quotes {
      h3 {
        line-height: 52px;
      }
    }
  }
  .aside {
    &.sticky {
      position: static !important;
    }
  }
}

@media (max-width: 767px) {
  .article-time {
    display: flex;
    align-items: center;
    .date {
      margin-right: 15px;
    }
  }
  .blog-area .blog-quotes {
    padding: 30px 10px;
  }
}

@media (min-width: 575px) and (max-width: 767px) {
  .blog-area {
    .article-item {
      .article-info {
        max-width: 100%;
      }
    }
  }
}

@media (max-width: 575px) {
  .blog-area {
    .blog-quotes {
      h3 {
        font-size: 26px;
        line-height: 36px;
      }
    }
    .overlay-thumb {
      .overlay-playbutton {
        .popup-video {
          width: 45px;
          height: 45px;
        }
      }
    }
    .article-item {
      h3 {
        font-size: 28px;
        line-height: 38px;
      }
    }
  }
  .blog-details {
    .article-item {
      .author-details {
        flex-direction: column;
        align-items: center;
        &-image {
          margin-right: 0px;
          margin-bottom: 30px;
        }
        &-info {
          text-align: center;
        }
      }
      .comments-section-area {
        flex-direction: column;
        padding-left: 0px;
        &.comments-section-areaReply {
          margin-left: 50px;
        }
      }
    }
  }
}

@media (min-width: 320px) and (max-width: 574px) {
  .blog-area {
    padding: 60px 0px;
    .article-item {
      h3 {
        font-size: 22px;
        line-height: 36px;
        margin-bottom: 15px;
      }
      .article-info {
        flex-direction: column;
        align-items: flex-start;
        & > div {
          margin-bottom: 8px;
          &:last-child {
            margin-bottom: 0px;
          }
        }
      }
      .article-thumb {
        margin-bottom: 15px;
      }
      p.article-text {
        font-size: 14px;
        line-height: 26px;
        margin-bottom: 15px;
      }
    }
    .blog-quotes {
      margin: 15px 0px;
    }
  }
  .blog-quotes {
    h3 {
      font-size: 20px !important;
      line-height: 32px !important;
    }
  }
  .blog-details-quotes {
    padding: 30px 15px;
    position: relative;
    z-index: 1;
    p {
      font-size: 14px;
      line-height: 24px;
    }
    &::after {
      opacity: 0.6;
      bottom: 25px;
      left: auto;
      right: 5px;
    }
  }
  .pagination {
    justify-content: center;
  }
  .blog-area .pagination-area nav .pagination li a {
    width: 45px;
    height: 45px;
  }
}

/* large devices 992 - 1199*/
@media #{$lg} {
  .blog-details .article-item h3 {
    font-size: 36px;
  }
  .blog-details-quotes::after {
    bottom: 12%;
  }
}

/* Medium devices 768 - 991 */
@media #{$md} {
  .blog-area .aside .blog-meta,
  .blog-area .aside .blog-gallery,
  .blog-area .aside .archive-posts,
  .blog-area .aside .blog-catagories,
  .blog-area .aside .recent-post,
  .blog-area .aside .search {
    max-width: 100% !important;
  }
}

/* Small devices 575 - 767 */
@media #{$sm} {
  .blog-details {
    padding-bottom: 70px;
  }
  .blog-details .article-item h3 {
    font-size: 30px;
  }
  .blog-details-quotes::after {
    bottom: 10%;
    left: 90%;
  }
  .blog-details .article-item .author-details {
    flex-wrap: wrap;
  }
  .blog-details .article-item .author-details-image {
    margin: 0 auto;
    margin-bottom: 20px;
  }
  .blog-details .article-item .author-details-info h6 {
    text-align: right;
  }
  .blog-details .article-item .author-details-info span {
    text-align: right;
    display: inherit;
  }
  .pl-sm-0 {
    padding-left: 0 !important;
  }
  .blog-details .article-item .write-comment-area form input {
    padding: 25px 0px;
    padding-left: 20px;
  }
  .blog-details .article-item .write-comment-area form textarea {
    padding-bottom: 100px;
    margin-bottom: 30px;
  }
  .blog-area .aside .blog-meta,
  .blog-area .aside .blog-gallery,
  .blog-area .aside .archive-posts,
  .blog-area .aside .blog-catagories,
  .blog-area .aside .recent-post,
  .blog-area .aside .search {
    max-width: 100% !important;
  }
}

/* Small devices 420 - 574 */
@media #{$xs} {
  .blog-area .aside .blog-meta,
  .blog-area .aside .blog-gallery,
  .blog-area .aside .archive-posts,
  .blog-area .aside .blog-catagories,
  .blog-area .aside .recent-post,
  .blog-area .aside .search {
    max-width: 100% !important;
  }
  .blog-details {
    .article-item {
      .author-details {
        align-items: center;
      }
      .author-details-image {
        margin-bottom: 15px;
      }
    }
  }
}

/* extra Small devices 420 */
@media #{$xsm} {
  /* common area start */
  .blog-area {
    .pagination-area {
      nav {
        .pagination {
          justify-content: center;
          li {
            a {
              width: 30px;
              height: 30px;
              font-size: 16px;
            }
          }
        }
      }
    }
  }
}
