.blog-area {
    .article-item {
        margin-bottom: 55px;

        h3 {
            margin-bottom: 25px;
            font-size: 36px;
        }

        .article-info {
            margin-bottom: 25px;
            display: flex;
            max-width: 450px;
            justify-content: space-between;
            align-items: center;

            .author {
                img {
                    width: 32px;
                    height: 32px;
                    object-fit: cover;
                    border-radius: 50%;
                }

                a {
                    font-size: 16px;
                    margin-left: 8px;
                    color: #000560;
                    font-family: $gilroy-bold;
                    transition: 0.3s all linear;

                    &:hover {
                        color: #FF465E;
                    }
                }
            }

            .date {
                span {
                    font-size: 16px;
                    font-family: $gilroy-medium;
                    color: #65729E;
                }

                .icon {
                    font-size: 16px;

                    i {
                        margin-right: 8px;
                        color: #FF465E;
                    }

                }
            }

            .comments {
                span {
                    a {
                        font-size: 16px;
                        font-family: $gilroy-medium;
                        color: #65729E;
                        transition: 0.3s all linear;

                        &:hover {
                            color: #FF465E;
                        }
                    }
                }

                .icon {
                    font-size: 16px;

                    i {
                        margin-right: 8px;
                        color: #FF465E;
                    }

                }
            }
        }

        .article-thumb {
            margin-bottom: 30px;

            img {
                border-radius: 8px;
            }
        }

        p.article-text {
            margin-bottom: 30px;
            font-size: 18px;
        }
    }

    .blog-quotes {
        background-color: #FFF5F7;
        position: relative;
        z-index: 1;

        &::after {
            position: absolute;
            content: '\f10e';
            bottom: 50%;
            left: 50%;
            transform: translateX(-50%);
            color: rgba(255, 210, 219, 0.50);
            font-family: "Font Awesome 5 Free";
            font-weight: 900;
            font-size: 150px;
            z-index: -1;
        }

        h3 {
            text-align: center;
            max-width: 625px;
            font-size: 36px;
            color: #FF465E;
        }
    }

    .overlay-thumb {
        &-image {
            position: relative;
            &::before {
                position: absolute;
                content: '';
                top: 0;
                left: 0;
                background: rgba(0, 5, 96, 0.4);
                border-radius: 4px;
                width: 100%;
                height: 100%;
                border-radius: 8px;
            }

        }
        .overlay-playbutton{
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            .popup-video {
                @include transition(.4s);
                color: red;
                background: white;
                border-radius: 50%;
                font-size: 14px;
                line-height: 98px;
                display: inline-block;
                width: 98px;
                height: 98px;
                text-align: center;
                display: flex;
                justify-content: center;
                align-items: center;
                position: relative;
                z-index: 1;
                &::after {
                    z-index: -1;
                    position: absolute;
                    content: '';
                    border-radius: 50%;
                    background-color: white;
                    width: 100%;
                    height: 100%;
                    left: 50%;
                    top: 50%;
                    transform: translateX(-50%) translateY(-50%);
                    animation: pulse-border 1500ms ease-out infinite;
                }
                & i {
                    font-size: 18px;
                    color: $tertiary;
                }
                &:hover {
                    border-color: white;
                }
            }
        }
    }

    .pagination-area {
        border-top: 2px solid rgba(221, 221, 221, 0.50);

        nav {
            .pagination {
                li {
                    a {
                        height: 70px;
                        width: 70px;
                        border-radius: 50%;
                        border: none;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        margin-right: 20px;
                        background-color: #FFF5F7;
                        font-size: 24px;
                        color: #000560;
                        transition: 0.3s all linear;
                        font-family: $gilroy-bold;

                        &:hover {
                            background-color: #FF465E;
                            color: #ffffff;

                            i {
                                color: #ffffff;
                            }
                        }

                        i {
                            color: #FF465E;
                            transition: 0.3s all linear;
                        }
                    }
                }
            }
        }
    }

    .aside {
        .search {
            max-width: 300px;
            padding: 20px;
            border: 1px solid #DEE3FF;
            border-radius: 8px;

            form {
                input {
                    border-radius: 0px;
                    border: none;
                    border-bottom: 1px solid #DDDDDD;
                    padding-left: 0;

                    &:focus {
                        box-shadow: none;
                    }
                }

                ::placeholder {
                    color: #65729E;
                    font-size: 16px;
                    font-family: $gilroy-medium;
                }
            }

            .input-text {
                float: right;
                margin-top: -33px;

                h6 {
                    font-size: 16px;
                    color: #FF465E;
                }
            }
        }

        .recent-post {
            max-width: 300px;
            padding: 20px;
            border: 1px solid #DEE3FF;
            border-radius: 8px;

            .aside-item-heading {
                margin-bottom: 25px;
            }

            &-item {
                border-bottom: 1px solid #DDDDDD;
                padding-bottom: 15px;
                margin-bottom: 25px;

                .image {
                    margin-top: 5px;

                    img {
                        width: 65px;
                    }
                }
            }

            &-text {
                margin-left: 15px;

                a {
                    font-size: 16px;
                    line-height: 24px;
                    color: #000560;
                    font-family: $gilroy-bold;
                }

                .post-text-bottom {
                    display: flex;
                    flex-wrap: wrap;

                    span {
                        color: #65729E;
                        font-size: 14px;
                        font-size: $gilroy-regular;

                        a {
                            color: #FF465E;
                            margin-right: 4px;
                            font-size: $gilroy-regular !important;
                        }
                    }
                }
            }
        }

        .blog-catagories {
            max-width: 300px;
            padding: 20px;
            border: 1px solid #DEE3FF;
            border-radius: 8px;

            .aside-item-heading {
                margin-bottom: 20px;
            }

            &-item {
                ul {
                    .active {
                        color: #FF465E;
                    }

                    li {
                        color: #65729E;
                        font-size: 16px;
                        font-family: $gilroy-medium;
                        margin-bottom: 5px;

                        a {
                            color: #65729E;
                            font-size: 16px;
                            font-family: $gilroy-medium;
                            transition: 0.3s all linear;

                            &:hover {
                                color: #FF465E;
                            }
                        }
                    }
                }
            }
        }

        .archive-posts {
            max-width: 300px;
            padding: 20px;
            border: 1px solid #DEE3FF;
            border-radius: 8px;

            .aside-item-heading {
                margin-bottom: 20px;
            }

            &-item {
                ul {
                    li {
                        margin-bottom: 8px;

                        a {
                            font-size: 16px;
                            font-family: $gilroy-medium;
                            color: #65729E;
                            transition: 0.3s all linear;

                            &:hover {
                                color: #FF465E;
                            }

                            i {
                                margin-right: 8px;
                                color: #FF465E;
                            }
                        }
                    }
                }
            }
        }

        .blog-gallery {
            max-width: 300px;
            padding: 20px;
            border: 1px solid #DEE3FF;
            border-radius: 8px;

            .aside-item-heading {
                margin-bottom: 22px;
            }

            &-item {
                display: flex;
                justify-content: space-between;
                flex-wrap: wrap;

                a {

                    img {
                        height: 85px;
                        width: 85px;
                        border-radius: 5px;
                    }
                }
            }
        }

        .blog-meta {
            max-width: 300px;
            padding: 20px;
            border: 1px solid #DEE3FF;
            border-radius: 8px;

            .aside-item-heading {
                margin-bottom: 23px;
            }

            &-item {
                ul {
                    li {
                        margin-bottom: 10px;

                        a {
                            color: #65729E;
                            font-size: 16px;
                            font-family: $gilroy-medium;
                            transition: 0.3s all linear;

                            &:hover {
                                color: #FF465E;
                            }
                        }
                    }
                }
            }
        }

        //For Common 
        .aside-item-heading {
            position: relative;
            margin-bottom: 15px;
            border-bottom: 1px solid #DDDDDD;

            &::after {
                position: absolute;
                content: '';
                bottom: -3px;
                left: 0;
                background-color: #FF465E;
                width: 35px;
                height: 3px;
            }

            h6 {
                font-size: 20px;
                margin-bottom: 10px;
            }
        }
    }
}

// Blog-Details Page
.blog-details {
    .article-item {
        h3 {
            font-size: 40px;
            margin-bottom: 20px;
        }

        .article-info {
            .author {
                i {
                    color: #FF465E;
                }

                span {
                    margin-left: 5px;
                    color: #65729E;
                    font-family: $gilroy-medium !important;

                    a {
                        font-family: $gilroy-medium !important;
                        font-size: 16px !important;
                        color: #FF465E !important;
                        margin-left: 0 !important;
                    }
                }
            }
        }

        p.article-text {
            font-size: 16px !important;
            margin-bottom: 20px;
        }

        p.article-summary {
            margin-bottom: 25px;
        }

        .article-tags {
            padding-bottom: 20px;
            border-bottom: 2px solid rgba(221, 221, 221, 0.50);
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            align-items: center;

            &-left {
                .related-tags {
                    font-size: 16px;
                    font-family: $gilroy-bold;
                    color: #000560;
                }

                a {
                    font-size: 14px;
                    font-family: $gilroy-medium;
                    color: #65729E;
                    transition: 0.3s all linear;

                    &:hover {
                        color: #FF465E;
                    }
                }

                .active {
                    margin-left: 3px;
                    color: #FF465E;
                }
            }

            &-right {
                .share-article {
                    color: #000560;
                    font-size: 16px;
                    font-family: $gilroy-bold;
                }

                .active {
                    color: #FF465E;
                    margin-left: 5px;
                }

                a {
                    font-size: 14px;
                    color: #CACACA;
                    margin-right: 3px;
                    transition: 0.3s all linear;

                    &:hover {
                        color: #FF465E;
                    }
                }
            }
        }

        .author-details {
            background-color: #FFF5F7;
            padding: 30px;
            border-radius: 8px;
            display: flex;
            justify-content: space-between;
            align-items: flex-start;

            &-image {
                margin-right: 30px;

                img {
                    width: 100px;
                    height: 100px;
                    max-width: 100px;
                    object-fit: cover;
                    border-radius: 50%;
                    border: 1px solid #BBBBBB;
                }
            }

            &-info {
                h6 {
                    font-size: 20px;
                }

                span {
                    color: #65729E;
                    font-size: 16px;
                    font-family: $gilroy-medium;
                }
            }
        }

        .comments-section {
            h3 {
                font-size: 26px;
            }

            &-area {
                display: flex;
                justify-content: space-between;
                align-items: flex-start;

                .image {
                    margin-right: 30px;

                    img {
                        height: 75px;
                        width: 75px;
                        max-width: 75px;
                        border-radius: 50%;
                        object-fit: cover;
                    }
                }

                &-comment {
                    .commenter {
                        display: flex;
                        justify-content: space-between;
                        align-items: flex-start;

                        .commenter-info {
                            h6 {
                                font-size: 16px;
                            }

                            span {
                                font-size: 16px;
                                color: #65729E;
                                font-family: $gilroy-medium;
                            }
                        }

                        .replay {
                            a {
                                font-size: 16px;
                                font-family: $gilroy-medium;
                                color: #FF465E;

                                i {
                                    margin-right: 10px;
                                }
                            }
                        }
                    }

                }
            }
        }

        .write-comment-area {
            h3 {
                font-size: 26px;
            }

            form {
                input {
                    background-color: #F9F9FF;
                    border: 1px solid #DDDDDD;

                    &:focus::-webkit-input-placeholder {
                        color: #FF465E;
                    }

                    &:focus {
                        box-shadow: none;
                        border-color: #FF465E;
                    }
                }

                textarea {
                    background-color: #F9F9FF;
                    border: 1px solid #DDDDDD;
                    resize: none;

                    &:focus::-webkit-input-placeholder {
                        color: #FF465E;
                    }

                    &:focus {
                        box-shadow: none;
                        border-color: #FF465E;
                    }
                }

                button {
                    padding: 20px 50px;
                }

                ::placeholder {
                    color: #69798D;
                    font-size: 16px;
                    font-family: $gilroy-medium;
                }
            }
        }
    }

    &-quotes {
        padding: 30px;
        padding-bottom: 50px;
        background-color: #FF465E;
        border-radius: 10px;
        position: relative;

        &::after {
            position: absolute;
            content: '\f10e';
            bottom: 18%;
            left: 67%;
            transform: rotate(180deg) scale(-1, 1);
            color: #FF465E;
            font-family: "Font Awesome 5 Free";
            font-weight: 900;
            font-size: 30px;
            -webkit-text-stroke: 2px #FFFFFF;
        }

        p {
            text-align: center;
            color: #FFFFFF;
            font-family: $gilroy-medium;
            font-size: 18px;
        }
    }
}

@keyframes pulse-border {
    0% {
      transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1);
      opacity: 1;
    }
  
    100% {
      transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1.5);
      opacity: 0;
    }
}
  
/*----------------------------------------*/
/*  RESPONSIVE CSS START 
/*----------------------------------------*/

/* laptop devices 1200 - 1600 */
@media #{$laptop} {
    /* common area start */

}

/* large devices 992 - 1199*/
@media #{$lg} {
    /* common area start */

}

/* Medium devices 768 - 991 */
@media #{$md} {
    .blog-area .aside .blog-meta,
    .blog-area .aside .blog-gallery,
    .blog-area .aside .archive-posts,
    .blog-area .aside .blog-catagories,
    .blog-area .aside .recent-post,
    .blog-area .aside .search{
        max-width: 100%;
    }
}

/* Small devices 0 - 768 */
@media #{$xs} {
    .blog-details .article-item h3 {
        font-size: 30px;
        margin-bottom: 10px;
        line-height: 38px;
    }
    .blog-details .article-item .comments-section-area,
    .blog-details .article-item .author-details,
    .blog-area .article-item .article-info{
        flex-wrap: wrap;
    }
    .blog-details-quotes::after{
        bottom: 10%;
        left: 85%;
    }
    .author-details-image{
        margin-right: 0 !important;
    }
    .author-details-info{
        margin-top: 20px;
        h6{
            text-align: right;
        }
        span{
            float: right;
            margin-right: 15px;
            display: inline-block;
        }
    }
    .blog-details .article-item .comments-section-area{
        padding-left: 0;
    }
    .blog-area .aside .blog-meta,
    .blog-area .aside .blog-gallery,
    .blog-area .aside .archive-posts,
    .blog-area .aside .blog-catagories,
    .blog-area .aside .recent-post,
    .blog-area .aside .search{
        max-width: 100%;
    }
    .blog-details{
        padding-bottom: 50px;
    }
    
}

/* Small devices 576 - 767 */
@media #{$sm} {
    /* common area start */
}
