.conatact-area {
  padding-top: 160px;
  padding-bottom: 50px;
  margin-bottom: 60px;
  .section-title {
    h2 {
      font-size: 48px;
      line-height: 64px;
      color: #000560;
      text-transform: capitalize;
      font-family: $gilroy-bold;
    }
  }
  .container {
    background: #fcf8f8;
    padding-top: 55px;
    padding-bottom: 55px;
  }
  .contact-form {
    padding: 0 30px;
    text-align: center;
    .form-row {
      .form-control {
        font-size: 18px;
        font-family: $gilroy-medium;
        line-height: 30px;
        color: #65729e;
        height: 80px;
        border: 1px solid #dddddd;
        background: white;
        padding: 0 50px;
        position: relative;
        &:focus {
          color: inherit;
          box-shadow: inherit;
        }
      }
      .icon {
        position: absolute;
        top: 50%;
        left: 30px;
        transform: translateY(-50%);
        font-size: 18px;
        color: $secondary;
      }
    }
    .form-message {
      padding-right: 10px;
      textarea {
        color: #65729e !important;
        width: 100%;
        border: 1px solid #dddddd;
        background: white;
        padding: 30px 50px;
        position: relative;
        &::before {
          position: absolute;
          top: 0;
          left: 0;
          font-family: 'Font Awesome 5 Free';
          font-weight: 900;
          content: '\f007';
        }
      }
    }
    .primary__button {
      padding: 20px 52px;
      margin-top: 20px !important;
    }
  }
}

.form-message {
  position: relative;
  .icon {
    position: absolute;
    top: 30px;
    left: 25px;
  }
}

/*----------------------------------------*/
/*  Homepage -03 Contact-form
/*----------------------------------------*/
.contactArea {
  padding: 90px 0px;

  &__location {
    margin-left: 150px;
    iframe {
      position: relative;
      width: 650px;
      height: 350px;
      margin-top: 170px;
    }
  }
  &__title {
    &.section-title {
      h2 {
        line-height: 72px;
      }
    }
  }
  &__brief {
    font-size: 16px;
    line-height: 27px;
    color: #9dadb7;
    margin-bottom: 40px;
  }

  form {
    .form-group {
      input,
      textarea {
        width: 410px;
        padding: 25px;
        border-radius: 0;
      }
      input {
        height: 60px;
      }
      textarea {
        min-height: 170px;
        resize: none;
      }
    }
  }

  &__button {
    font-size: 20px;
    line-height: 30px;
    text-transform: uppercase;
    font-family: $teko;
    border-radius: 0;
  }
  &__info {
    text-align: center;
    margin-top: 60px;
    // margin-left: 150px;
    span {
      font-size: 35px;
      line-height: 53px;
      font-family: $teko;
      color: #fff;
      margin-right: 90px;
    }
  }
}

/*----------------------------------------*/
/*  RESPONSIVE CSS START 
/*----------------------------------------*/

/*Common Devices - Sizes */
@media (max-width: 991px) {
  .contactArea {
    &__brief {
      width: 65%;
    }
    &__location {
      margin-left: 0px;
      iframe {
        margin-top: 60px;
      }
    }
    form {
      .form-group {
        input,
        textarea {
          width: 100%;
        }
      }
    }
    &__info {
      margin-left: 0px;
    }
  }
}

@media (max-width: 575px) {
  .contactArea {
    &__location {
      iframe {
        width: 100%;
      }
    }
    &__brief {
      width: 100%;
    }
    &__info {
      span {
        margin-right: 15px;
      }
    }
  }

  .conatact-area {
    .contact-form {
      padding: 0px;
    }
  }
}
