// START ABOUT US
.our-services{
    .about-us-text{
        .sub-heading{
            margin-bottom: 15px;
            h2{
                max-width: 375px; 
                margin-bottom: 10px;
            }
        }
        .feature{
            .text{
                h6{
                    margin-bottom: 3px;
                }
            }
        }
        .t-btn{
            padding: 17px 35px;
        }
    }
    .shape{
        img{
            z-index: -3;
            position: absolute;
        }
        .top{
            top: -6%;
            left: 5%;
        }
        .right{
            top: -7%;
            right: 5%;
        }
        .bottom{
            bottom: -7%;
            left: 32%;
        }
    }
    .special-services-image-bg-three{
        background-color: rgba(241, 146, 10, 0.16);
    }
    .top-right{
        top: -6%;
        right: 5%;
    }
   .first-mask{
        bottom: 5%;
        left: -2%;
    }
    .mask-bottom{
        bottom: -3%;
        left: 8%;
    }
    .mask-top{
        top: -4%;
        left: 5%;
    }
    .mask-right{
        top: 10%;
        right: 5%;
    }
}
// END ABOUT US

// START OUR WORK PROCESS 
.our-work-process{
    position: relative;
    .process-item{
        position: relative;
        &::before{
            position: absolute;
            content: '';
            top: 0;
            left:0;
        }
        .around-dotted{
            width: 100px;
            height: 100px;
            margin: 0px auto 22px auto;
            border-radius: 30px;
            display: flex;
            align-items: center;
            justify-content: center;
            .image{
                border-radius: 25px;
                padding: 15px;
            }
        }
      .dashed01{
        border: 1.5px dashed rgba(115,83,255,0.50);
        position: relative;
        &::before{
            content: "";
            position: absolute;
            top: 50%;
            left: 100%;
            border: none;
            border-top: 1.5px dashed rgba(115, 83, 255, 0.5);
            height: 0;
            width: 155%;
            transform: translateY(-50%);
        }
        &::after{
            position: absolute;
            color: rgba(41,198,255,0.50);;
            top: 50%;
            left: 250%;
            content: "\f054";
            font-family: "Font Awesome 5 Free";
            font-weight: 900;
            transform: translateY(-50%);
        }
      }
      .dashed02{
        border: 1.5px dashed rgba(41,198,255,0.50);
        position: relative;
        background-color: white;
        &::before{
            content: "";
            position: absolute;
            top: 50%;
            border: none;
            border-top: 1.5px dashed rgba(41, 198, 255, 0.5);
            height: 0;
            width: 410%;
            transform: translateY(-50%);
            z-index: -1; 
        }
        &::after{
            color: rgba(99,190,82,0.50);
            position: absolute;
            top: 50%;
            left: 250%;
            content: "\f054";
            font-family: "Font Awesome 5 Free";
            font-weight: 900;
            transform: translateY(-50%);
        }
      }
      .dashed03{
        border: 1.5px dashed rgba(99,190,82,0.50);
        position: relative;
        &::before{
            content: "";
            position: absolute;
            top: 50%;
            right: 100%;
            border: none;
            border-top: 1.5px dashed  rgba(99,190,82,0.50);
            height: 0;
            width: 155%;
            transform: translateY(-50%);
        }
      }
    }
    .process-text{
        max-width: 290px;
        margin: 0 auto;
        h3{
            text-align: center;
        }
        p{
            text-align: center;
            font-size: $gilroy-medium;
        }
    }
    .shape{
        img{
            position: absolute;
        }
        .round-shape{
            top: 15%;
            left: 15%;
        }
    }
}
// END OUR WORK PROCESS 

// Services Details Page
.design-services-text{
    h2{
        font-size: 40px;
    }
    p{
        font-size: 18px;
        font-family: $gilroy-medium;
    }
    .t-outile-btn{
        border: 2px solid #FF465E;
        color: #FF465E;
        transition: 0.3s all linear;
        &:hover{
            background-color: #FF465E;
            color: #ffffff;
        }
    }
}
