//PROFESSION AREA
.profession-area {
  padding: 175px 0px;
  padding-top: 0px;
  .profession-img {
    position: relative;
    margin-left: -48px;
    .small-feature {
      position: absolute;
      bottom: -10%;
      left: -125px;
    }
  }
  .profession-wrapper {
    margin-left: 30px;
    .profession-tittle {
      h2 {
        margin-bottom: 30px;
      }
      p {
        font-size: 18px;
      }
      margin-bottom: 30px;
    }
  }
}

/*----------------------------------------*/
/*  RESPONSIVE CSS START
/*----------------------------------------*/

/*Common Devices - Sizes */

@media (max-width: 1200px) {
  .profession-area {
    padding: 90px 0px;
    padding-top: 0px;
    .profession-img {
      .small-feature {
        left: 0px;
      }
    }
  }
}

@media (min-width: 1024px) and (max-width: 1199px) {
  .profession-area {
    .profession-img {
      .small-feature {
        bottom: -35%;
      }
    }
  }
}

@media (max-width: 991px) {
  .profession-area {
    .profession-wrapper,
    .profession-img {
      margin-left: 0px !important;
      .small-feature {
        bottom: 0px;
      }
    }
  }
  .profession-area .profession-wrapper .profession-tittle h2 {
    margin-bottom: 15px;
  }
}

@media (max-width: 767px) {
  .profession-area {
    .profession-wrapper {
      margin-top: -30px;
    }
    .profession-img {
      img {
        height: 250px;
      }
      .small-feature {
        left: auto;
        right: 15px;
        bottom: 40px;
      }
    }
  }
}

@media (max-width: 575px) {
  .profession-area {
    .profession-img {
      margin-bottom: 45px;
      .small-feature {
        position: static;
        width: 180px;
        height: 130px;
        padding: 25px;
        margin: 30px auto;
        .small-feature-percentage {
          margin-bottom: 10px !important;

          h3 {
            font-size: 22px;
            line-height: 32px;
          }
        }
        .small-feature-text {
          p {
            font-size: 16px;
            line-height: 22px;
          }
        }
      }
    }
    .profession-wrapper {
      .profession-tittle {
        h2 {
          font-size: 38px;
          line-height: 48px;
        }
      }
    }
  }
}

@media (min-width: 320px) and (max-width: 574px) {
  .profession-area {
    padding-bottom: 60px;
    .profession-wrapper {
      .profession-tittle {
        h2 {
          font-size: 28px;
          line-height: 42px;
          margin-bottom: 15px;
        }
        p {
          font-size: 14px;
          line-height: 26px;
        }
      }
    }
    .profession-img {
      margin-bottom: 15px;
    }
  }
  .profession-area .profession-wrapper {
    margin-top: -55px;
  }
  .profession-area .profession-img .small-feature {
    position: relative;
    margin-bottom: 0px;
    left: 0px !important;
    bottom: 65px;
  }
}
