//PROFESSION AREA
.profession-area{
    padding-top: 100px;
    padding-bottom: 130px;
    .profession-img{
        position: relative;
        margin-left: -48px;
        .small-feature{
            position: absolute;
            bottom: -10%;
            left: -11%;
        }
    }
    .profession-wrapper{
        .profession-tittle{
            h2{
                margin-bottom: 30PX;
            }
            p{
                font-size: 18px;
            }
            margin-bottom: 30px;
        }
    }
}

/*----------------------------------------*/
/*  RESPONSIVE CSS START 
/*----------------------------------------*/

/* laptop devices 1200 - 1600 */
@media #{$laptop} {
    /* common area start */

}

/* large devices 992 - 1199*/
@media #{$lg} {
    /* common area start */

}

/* Medium devices 768 - 991 */
@media #{$md} {
    // Profession-Area
    .profession-area{
        padding-bottom: 100px;
        margin-bottom: 50px;
        .profession-img .small-feature {
            position: absolute;
            bottom: 0 !important;
            left: 75% !important;
        }
        .profession-wrapper .profession-tittle h2 {
            margin-bottom: 20PX;
        }
       
        
    }
}

/* Small devices 0 - 768 */
@media #{$xs} {
     // Profession-Area
     .profession-area{
        padding-top: 50px;
        padding-bottom: 0px;
        margin-bottom: 70px;
        .profession-img {
            margin-left: 0;
            margin-bottom: 20px;
            .small-feature {
                display: none;
            }
        }
        .profession-wrapper .profession-tittle h2 {
            margin-bottom: 15PX;
        }
    }
}

/* Small devices 576 - 767 */
@media #{$sm} {
    /* common area start */
}
