/*----------------------------------------*/
/*  HOME PAGE 01
/*----------------------------------------*/
.bannerArea {
  position: relative;
  margin: 0 45px;
  padding: 75px 40px 110px 40px;
  border-radius: 24px;
  background-color: rgba(255, 70, 94, 0.05);

  &__wrapper {
    margin-top: 90px;
  }
  &__title {
    font-size: 80px;
    line-height: 106px;
    color: #000560;
    margin-bottom: 4px;
  }
  &__brief {
    width: 90%;
    color: #65729e;
    font-size: 21px;
    line-height: 36px;
    font-family: $gilroy-medium;
    padding: 25px 0px;
    display: inline-block;
  }

  &__buttons {
    display: flex;
    align-items: center;
    margin-top: 8px;
    margin-bottom: 90px;

    .primary__button {
      font-size: 20px;
    }

    .play-icon {
      background: white;
      cursor: pointer;
      border: 1px solid #dddddd;
      width: 64px;
      height: 64px;
      border-radius: 50%;
      text-align: center;
      margin-left: 30px;
      display: inline-block;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  &__image {
    position: absolute;
    bottom: -395px;
    right: 0px;
  }

  .mask-group {
    img {
      position: absolute;
    }

    .mask1 {
      bottom: 0;
      left: 0;
      z-index: -99;
    }

    .mask2 {
      top: 0;
      right: 0;
      z-index: -99;
    }

    .mask3 {
      bottom: -40px;
      left: 30%;
      z-index: -99;
    }

    .mask4 {
      top: 130px;
      left: 35px;
      z-index: -99;
    }
  }

  // breadcrumb-area
  &.breadcrumb-area {
    position: relative;
    padding-left: 0px;
    padding-right: 0px;
    .bannerArea__wrapper {
      margin-top: 15px;
      padding-left: 65px;
      p {
        margin-top: 20px;
        max-width: 80%;
      }
    }
    .banner-image {
      position: absolute;
      bottom: -310px;
      right: 210px;
      padding: 0;
      margin: 0;
    }

    .breadcrumb-wrapper {
      position: absolute;
      bottom: -220px;
      left: 45px;
    }
  }

  // About-us -Banner
  &.banner__About {
    .banner-image {
      bottom: -175px !important;
    }
  }

  &__downArrow {
    position: absolute;
    bottom: -110px;
    left: 50%;
    transform: translate(-50%);
    width: 250px;
    height: 150px;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50% 50% 48% 52% / 64% 64% 36% 36%;
    img {
      cursor: pointer;
      width: 25px;
      transform: translateY(-40px);
    }
  }
}

/*----------------------------------------*/
/*  HOME PAGE 02
/*----------------------------------------*/
.bannerArea02 {
  background-color: #29303e;
  position: relative;
  border-bottom-left-radius: 166px;
  padding-top: 130px;
  padding-bottom: 0px;
  z-index: 99;

  .banner-image {
    margin-left: 100px;
  }

  &__wrapper {
    padding-top: 140px;

    .bannerArea02__title {
      margin-bottom: 35px;
      h1 {
        line-height: 96px;
      }
    }

    p {
      font-size: 24px;
      font-family: $gilroy-medium;
      line-height: 40px;
      max-width: 80%;
    }

    .banner-button {
      margin-top: 30px;
    }
  }

  .mask-group-home02 {
    img {
      position: absolute;
      z-index: -9;
    }

    .mask-home01 {
      top: 0;
      left: 0;
    }

    .mask-home02 {
      bottom: 0;
      left: 0;
    }
  }
  .small-feature {
    width: 207px;
    height: 188px;

    &-percentage {
      h3 {
        letter-spacing: 4px;
      }
    }
  }
  .small-feature01 {
    position: absolute;
    top: 23.5%;
    right: 27.3%;
    .image {
      background-color: #fd6f00;
    }
  }

  .small-feature02 {
    position: absolute;
    top: 41.6%;
    right: 39.8%;
  }
}

/*----------------------------------------*/
/*  HOME PAGE 03
/*----------------------------------------*/
.bannerArea03 {
  background-color: #1f99f4;
  margin: 0;
  border-radius: 0;
  position: relative;
  z-index: 10;
  padding-bottom: 85px;
  .bannerArea03__wrapper {
    margin-top: 120px;
    p {
      margin: 30px 0px;
    }
  }

  &__image {
    padding-top: 112px;
    position: relative;
    bottom: 0px;
    .react-01,
    .react-02 {
      position: absolute;
      z-index: -1;
    }
    .react-01 {
      bottom: -45px;
      right: -20px;
    }
    .react-02 {
      top: 150px;
      left: -55px;
    }
    .banner01 {
      display: flex;
      margin: 0 auto;
      border-radius: 8px;
      width: 370px;
      height: 536px;
      object-fit: cover;
    }

    .banner02 {
      position: absolute;
      bottom: 22px;
      left: 70px;
      border-radius: 8px;
      width: 134px;
      height: 134px;
      background-color: #ffff;
      opacity: 0.6;
    }

    .banner03 {
      position: absolute;
      bottom: 88px;
      right: -8px;
      border-radius: 8px;
      width: 213px;
      height: 267px;
      object-fit: cover;
      background-color: #ffff;
      opacity: 0.7;
    }

    .banner04 {
      position: absolute;
      top: 145px;
      right: 71px;
      border-radius: 8px;
      width: 134px;
      height: 133px;
      object-fit: cover;
      background-color: #ffff;
      opacity: 0.5;
    }

    .banner05 {
      position: absolute;
      top: 200px;
      left: -10px;
      border-radius: 8px;
      width: 214px;
      height: 267px;
      object-fit: cover;
      background-color: #ffff;
      opacity: 0.7;
    }
  }

  .banner-button {
    .play-icon {
      width: 65px;
      height: 65px;
      display: inline-block;
      text-align: center;
      line-height: 65px;
      border-radius: 50%;
      background-color: #2ca5ff;
      border: 1px solid rgba(255, 255, 255, 0.3);
      margin-left: 15px;
    }
  }

  .banner-brand-title {
    margin-bottom: 40px;
    margin-top: 60px;

    h3 {
      font-size: 30px;
      line-height: 42px;
      position: relative;
      color: white;

      &::before {
        content: '';
        position: absolute;
        top: 50%;
        left: 176px;
        width: 148px;
        height: 1px;
        background-color: #ffffff;
        transform: translateY(-50%);
      }
    }
  }

  .mask-group {
    img {
      position: absolute;
      z-index: -9;
    }

    .bannermask01 {
      top: 0;
      left: 0;
    }

    .bannermask02 {
      bottom: 0;
      right: 0;
    }
  }
}

/*----------------------------------------*/
/*  HOME PAGE 04
/*----------------------------------------*/
.bannerArea04 {
  background-color: #191c26;
  margin: 0;
  border-radius: 0;
  z-index: 9;
  padding-top: 230px;
  padding-bottom: 0px;
  overflow: hidden;
  .bannerArea04__wrapper {
    margin-top: -195px;
    .bannerArea__title {
      span {
        text-transform: uppercase;
        font-family: $teko;
        font-size: 32px;
        line-height: 48px;
        font-weight: 600;
        color: $tertiary;
      }

      h1 {
        text-transform: uppercase;
        font-family: $teko;
        font-size: 135px;
        line-height: 135px;
        font-weight: 600;
        color: white;
        margin-top: 45px;
      }
    }

    p {
      font-size: 26px;
      font-family: $teko;
      line-height: 42px;
      font-weight: 500;
      color: #9dadb7;
      margin: 0;
    }

    .banner-button {
      margin-top: 30px;

      .primary__button {
        border-radius: 0;
        font-family: $teko;
        font-size: 24px;
        font-weight: 500;
      }
      .play-icon {
        width: 65px;
        height: 65px;
        padding: 30px;
        display: inline-block;
        border-radius: 50%;
      }
    }
  }

  &__image {
    padding-bottom: 75px;
  }

  .mask-page-04 {
    img {
      position: absolute;
      top: 0;
      left: 0;
      z-index: -3;
    }
  }
}
/*----------------------------------------*/
/*  RESPONSIVE CSS START 
/*----------------------------------------*/

@media (min-width: 1200px) and(max-width: 1850px) {
  .bannerArea {
    // Homepage-02
    padding: 60px 0px;
    &__image {
      position: static;
      img {
        max-width: 100%;
      }
    }
    &__title {
      font-size: 68px;
      line-height: 82px;
    }
  }
  .bannerArea02 {
    &__wrapper {
      padding-top: 30px;
    }
    &__title {
      margin-bottom: 0px !important;

      h1 {
        font-size: 68px;
        line-height: 82px !important;
      }
    }

    // featuresBox
    .small-feature {
      &.small-feature02 {
        right: 43.8%;
      }
    }
  }
  .bannerArea03 {
    &__image {
      .banner01 {
        margin-right: 225px;
      }
      .banner02 {
        left: -100px;
        bottom: 15px;
      }
      .banner03 {
        bottom: -80px;
      }
      .banner04 {
        right: -10px;
        top: 300px;
      }
      .banner05 {
        top: 250px;
        height: 214px;
        left: -185px;
      }

      // Reactangle shape
      .react-01 {
        bottom: -135px;
        right: 210px;
        z-index: 1;
      }
      .react-02 {
        top: 275px;
        left: -245px;
      }
    }
  }
}

@media (max-width: 1200px) {
  .bannerArea {
    padding-bottom: 60px;
    &__image {
      position: relative;
      bottom: 0;
      padding-bottom: 0px;
      img {
        max-width: 100%;
        height: auto;
      }
    }

    &__wrapper {
      margin-top: 30px;
    }

    &__title {
      font-size: 68px;
      line-height: 78px;
    }

    .banner-button {
      justify-content: center;
    }
    &.breadcrumb-area {
      padding-top: 160px;
      padding-bottom: 60px;
      .bannerArea__wrapper {
        text-align: left;
      }
      .banner-image {
        bottom: -260px;
        right: 0px;
      }
      .breadcrumb-wrapper {
        bottom: -35px;

        .breadcrumb {
          margin-bottom: -50px;
        }
      }
    }
    // contact form Banner

    &.contactBanner,
    &.projectBanner,
    &.blogBanner {
      .banner-image {
        bottom: -215px;
      }
    }
  }
  // banner - 02
  .bannerArea02 {
    .bannerArea__wrapper {
      padding-top: 0px;
      .banner-button {
        margin-top: 20px;
      }
    }
    .small-feature {
      padding: 15px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 150px;
      height: 120px;
      .small-feature-percentage {
        margin-bottom: 0px;
        h3 {
          font-size: 26px;
          line-height: 32px;
          margin-bottom: 5px;
        }
      }
      &-text {
        p {
          font-size: 16px;
          line-height: 18px;
        }
      }
    }
    .small-feature02 {
      top: 35%;
      right: 42%;
    }
    .bannerArea02__title {
      margin-bottom: 15px !important;
      h1 {
        font-size: 54px;
        line-height: 68px !important;
      }
    }
  }
  .bannerArea03 {
    padding-left: 0px;
    padding-right: 0px;
    margin: 0px !important;
    .bannerArea__wrapper {
      text-align: left;
    }
    .banner-button {
      justify-content: flex-start;
    }
    .banner-image {
      .banner05 {
        left: -40px;
      }
      .banner02 {
        left: 40px;
      }
      .banner01 {
        margin-right: 0px;
      }
      .banner03,
      .banner04 {
        display: none;
      }
    }
  }
}
@media (min-width: 1024px) and(max-width: 1199px) {
  .bannerArea {
  }
}
@media (max-width: 1023px) {
}

@media (min-width: 992px) and(max-width: 1023px) {
}

@media (max-width: 991px) {
  .bannerArea {
    &__title {
      font-size: 58px;
      line-height: 68px;
    }
  }
}

@media (min-width: 768px) and (max-width: 991px) {
}

@media (max-width: 767px) {
  .bannerArea {
    &__title {
      font-size: 42px;
      line-height: 56px;
    }
    &__brief {
      width: 100%;
    }
  }
}

@media (min-width: 575px) and(max-width: 767px) {
}

@media (max-width: 575px) {
}

@media (min-width: 320px) and(max-width: 574px) {
  .bannerArea {
    margin: 0px;
    padding: 100px 0px;
    &__title {
      font-size: 28px;
      line-height: 38px;
    }
    &__brief {
      font-size: 16px;
      line-height: 30px;
    }
    .mask-group {
      .mask4 {
        top: 65px;
        left: 20px;
      }
    }
  }
}

/* Common max- Sizes */

@media (min-width: 1200px) and (max-width: 1850px) {
}

// @media (max-width: 1199px) {
//   .bannerArea {
//     &.contactBanner,
//     &.projectBanner,
//     &.blogBanner {
//       .banner-image {
//         bottom: -185px !important;
//       }
//     }
//   }
// }

// @media (min-width: 1024px) and (max-width: 1199px) {
//   // homepage -02 / Banner -02
//   .bannerArea02 {
//     .bannerArea02__title {
//       h1 {
//         font-size: 38px;
//         line-height: 52px !important;
//       }
//     }
//     .small-feature02 {
//       right: 39%;
//     }
//   }
//   .bannerArea03 {
//     .banner-image {
//       .banner05 {
//         left: -140px;
//         top: 180px;
//         z-index: -1;
//       }
//       .banner02 {
//         left: -60px;
//         bottom: 100px;
//       }
//       .react-02 {
//         z-index: -1;
//         top: 60px;
//         left: 48px;
//         user-select: none;
//       }
//       .react-01 {
//         bottom: -85px;
//         right: -10px;
//       }
//     }
//   }
//   .bannerArea {
//     &.breadcrumb-area {
//       .banner-image {
//         bottom: -220px;
//         right: 0px;
//       }
//     }
//   }
// }

// @media (min-width: 992px) and (max-width: 1023px) {
//   .bannerArea {
//     &.breadcrumb-area {
//       .banner-image {
//         bottom: -220px;
//         right: 0px;
//       }
//     }
//   }
// }

// @media (max-width: 1024px) {
//   .bannerArea04 {
//     .bannerArea__wrapper {
//       .bannerArea__title {
//         h1 {
//           font-size: 102px;
//           line-height: 112px;
//         }
//       }
//     }
//   }
// }

// // It's will be removed
// @media (min-width: 992px) and (max-width: 1023px) {
//   .bannerArea02 {
//     .bannerArea02__title {
//       h1 {
//         font-size: 32px;
//         line-height: 42px !important;
//       }
//     }
//     .small-feature02 {
//       right: 39%;
//     }
//   }
//   .bannerArea03 {
//     .banner-image {
//       .banner05 {
//         left: -160px;
//         z-index: -1;
//       }
//       .banner02 {
//         left: -80px;
//         bottom: 85px;
//       }
//     }
//   }
// }

// @media (max-width: 991px) {
//   .bannerArea02 {
//     border-bottom-left-radius: 0px;
//     padding-bottom: 140px;
//     position: relative;
//     overflow: hidden;
//     .bannerArea__wrapper {
//       position: relative;
//       .bannerArea02__title {
//         h1 {
//           font-size: 32px;
//           line-height: 42px !important;
//         }
//       }
//       p {
//         font-size: 18px;
//         line-height: 28px;
//         max-width: 100%;
//       }
//     }
//     .banner-image {
//       margin-left: 0px;
//       position: absolute;
//       top: -78px;
//     }
//     // .banner-image,
//     .mask-group-home02 {
//       display: none;
//     }

//     .small-feature01 {
//       top: 50%;
//       right: 30px;
//     }
//     .small-feature02 {
//       top: 35%;
//       right: 190px;
//     }
//   }
//   .bannerArea03 {
//     padding-bottom: 90px !important;
//     .banner-image {
//       .banner01 {
//         margin: auto;
//       }
//       .banner02 {
//         left: 120px;
//       }
//       .banner04 {
//         right: 120px;
//       }

//       .banner04 {
//         display: block;
//       }
//       .banner05 {
//         display: none;
//       }
//       .react-02 {
//         top: 70px;
//         left: 250px;
//       }
//       .react-01 {
//         right: 225px;
//       }
//     }
//   }
//   .bannerArea {
//     &.breadcrumb-area {
//       .banner-image {
//         position: static;
//       }
//     }
//   }
// }

// @media (max-width: 768px) {
//   // banner section
//   .bannerArea {
//     margin: 0px;
//   }
//   .bannerArea03 {
//     .banner-image {
//       .react-01 {
//         right: 60px;
//       }
//       .react-02 {
//         left: 135px;
//       }
//       .banner02 {
//         left: 20px;
//         bottom: 100px;
//       }
//       .banner04 {
//         right: 20px;
//       }
//     }
//   }
// }

// @media (max-width: 767px) {
//   .bannerArea {
//     padding: 120px 0px;
//     .banner-image {
//       padding-bottom: 30px;
//     }
//     &__wrapper {
//       margin-top: 30px;
//       padding-bottom: 30px;
//     }
//   }
// }

// @media (max-width: 575px) {
//   .banner {
//     &-area {
//       padding: 75px 0px;

//       .mask-group {
//         .mask3 {
//           left: 60%;
//         }
//       }
//     }
//     &-image {
//       margin-bottom: 0px !important;
//     }
//     &-title {
//       h1 {
//         font-size: 32px;
//         line-height: 42px;
//       }
//     }
//     &-wrapper {
//       margin-top: 0px !important;
//       p {
//         width: 100%;
//         margin: 15px 0px;
//       }
//     }
//   }

//   // banner-02
//   .bannerArea02 {
//     position: relative;

//     // buttons
//     .primary__button {
//       padding: 20px 5px;
//     }
//   }

//   .bannerArea03 {
//     .slick-slide {
//       img {
//         margin: auto;
//       }
//     }
//     .banner-image {
//       padding-top: 60px;
//       .banner04,
//       .banner02 {
//         display: none;
//       }
//       .react-01 {
//         right: 20px;
//         bottom: 0px;
//       }
//       .react-02 {
//         left: 55px;
//         top: 155px;
//       }
//     }
//     .banner-brand-title {
//       h3 {
//         &::before {
//           width: 65px;
//         }
//       }
//     }
//   }
// }

// @media (min-width: 420px) and (max-width: 574px) {
//   .bannerArea03 {
//     .banner-image {
//       padding-top: 95px;
//       .react-01 {
//         right: 0px;
//         bottom: 0px;
//       }
//       .react-01 {
//         right: -25px;
//         bottom: 0px;
//       }
//       .react-02 {
//         left: -15px;
//         top: 70px;
//       }
//     }
//   }
// }

// @media (min-width: 320px) and(max-width: 574px) {
//   .bannerArea {
//     &__title {
//       font-size: 32px;
//       line-height: 42px;
//     }
//   }
// }

// @media (min-width: 320px) and (max-width: 419px) {
//   .bannerArea02 {
//     .bannerArea__wrapper {
//       padding-top: 100px;
//     }
//     .banner-image {
//       position: relative;
//     }
//     .small-feature01,
//     .small-feature02 {
//       top: 40%;
//     }
//     .small-feature01 {
//       right: 5px;
//     }
//     .small-feature02 {
//       right: 165px;
//     }
//   }

//   .bannerArea {
//     &.breadcrumb-area {
//       padding: 80px 0px;
//       .bannerArea__wrapper {
//         padding-left: 0px;
//       }
//       .breadcrumb-wrapper {
//         left: 160px;
//         bottom: -85px !important;
//         .breadcrumb-item {
//           font-size: 18px !important;
//         }
//       }
//     }
//     .bannerArea__wrapper {
//       p {
//         width: 100%;
//         font-size: 18px;
//       }
//     }
//   }

//   .bannerArea04 {
//     .bannerArea__wrapper {
//       .bannerArea__title {
//         h1 {
//           font-size: 68px;
//           line-height: 78px;
//         }
//       }
//       p {
//         font-size: 18px;
//         line-height: 28px;
//       }
//     }
//   }
// }

// @media (max-width: 1750px) {
//   .bannerArea02 {
//     .banner-image {
//       img {
//         max-width: 100%;
//       }
//     }
//   }
// }
// @media (min-width: 1480px) and (max-width: 1750px) {
//   .bannerArea02 {
//     .small-feature01 {
//       right: 25.3%;
//     }
//     .small-feature02 {
//       top: 35.6%;
//     }
//   }
// }

// /* large devices 992 - 1199*/
// @media #{$lg} {
//   /* banner area start */
//   .bannerArea {
//     padding: 40px 20px;
//     margin: 0 30px;
//     .bannerArea__wrapper {
//       margin-top: 0px;
//       p {
//         font-size: 18px;
//         line-height: 26px;
//         width: 100%;
//       }
//     }
//     .banner-button {
//       margin-top: 0px;
//     }
//     .banner-button .primary__button {
//       font-size: 18px;
//       padding: 15px 35px;
//     }
//     .banner-button .play-icon {
//       width: 50px;
//       height: 50px;
//       line-height: 45px;
//       box-sizing: border-box;
//       svg {
//         width: 17px;
//       }
//     }
//     // banner-img

//     // .mask-group
//     .mask-group {
//       .mask3 {
//         left: 85%;
//       }
//     }
//   }
//   // banner -02
//   .bannerArea02 {
//     .bannerArea__wrapper {
//       p {
//         font-size: 18px;
//         line-height: 28px;
//       }
//       .banner-button {
//         margin-top: 15px !important;
//       }
//     }
//     .small-feature01 {
//       top: 25.5%;
//       right: 22.3%;
//     }
//   }
// }

// /* Medium devices 768 - 991 */
// @media #{$md} {
//   /* common area start */
//   .bannerArea {
//     margin: 0 20px;
//     padding: 168px 10px;
//     padding-bottom: 80px;
//     &__wrapper {
//       margin-top: 30px;
//       margin-bottom: 60px;
//       p {
//         font-size: 16px;
//         line-height: 26px;
//         width: 100%;
//         margin-top: 15px;
//       }
//       .banner-button {
//         margin-top: 20px;
//         .play-icon {
//           width: 60px;
//           height: 60px;
//           box-sizing: border-box;
//           svg {
//             width: 20px;
//           }
//         }
//         .primary__button {
//           font-size: 18px;
//         }
//       }
//     }
//     .banner-image {
//       padding-bottom: 0px;
//     }
//     .mask-group {
//       .mask3 {
//         left: 80%;
//       }
//     }
//     &.breadcrumb-area {
//       .breadcrumb-wrapper {
//         bottom: -20px !important;
//       }
//     }
//   }
//   // Homepage -02 / Banner -02
//   .bannerArea02 {
//     .banner-image {
//       margin-left: 0px;
//       position: absolute;
//       top: -78px;
//     }
//   }
// }

// /* Small devices 575 - 767 */
// @media #{$sm} {
//   .bannerArea {
//     // margin: 0px;
//     // padding: 0px;
//     border-radius: 0px;
//     .banner-image {
//       margin-bottom: 30px;
//     }
//     &__wrapper {
//       padding-bottom: 70px;
//       p {
//         width: 100%;
//         font-size: 16px;
//         line-height: 26px;
//         margin-top: 15px;
//       }
//     }
//     .banner-button {
//       margin-top: 15px;
//     }
//     .mask-group {
//       .mask3 {
//         left: 75%;
//       }
//     }
//     &.breadcrumb-area {
//       .bannerArea__wrapper {
//         padding-left: 15px;
//       }
//       .breadcrumb-wrapper {
//         bottom: -20px !important;
//       }
//     }
//   }
//   // banner-02
//   .bannerArea02 {
//     position: relative;
//     .bannerArea__wrapper {
//       margin-top: 30px !important;
//     }
//     .banner-image {
//       position: relative;
//       top: 0px;
//     }
//     .small-feature01,
//     .small-feature02 {
//       top: 40%;
//     }
//     .small-feature01 {
//       right: 110px;
//     }
//     .small-feature02 {
//       right: 300px;
//     }
//   }
// }

// /* Small devices 420 - 574 */
// @media #{$xs} {
//   .bannerArea {
//     &.breadcrumb-area {
//       padding-top: 60px;
//       padding-bottom: 90px;
//       .bannerArea__wrapper {
//         padding-left: 10px;
//       }
//       .breadcrumb-wrapper {
//         left: 210px;
//         bottom: -95px !important;
//         .breadcrumb-item {
//           font-size: 18px !important;
//         }
//       }
//     }
//   }

//   .bannerArea02 {
//     .bannerArea__wrapper {
//       padding-top: 100px;
//     }
//     .banner-image {
//       position: relative;
//     }
//     .small-feature01,
//     .small-feature02 {
//       top: 48%;
//     }
//     .small-feature01 {
//       right: 40px;
//     }
//     .small-feature02 {
//       right: 220px;
//     }
//   }
// }
// /* extra Small devices 420 */
// @media #{$xsm} {
//   /* common area start */
// }
